.form-text-label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #05c882;
  background: #d8fff1;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}
.locationbox-wrap {
  margin-bottom: 4.5rem;
}
.personal-info-grid-box {
  display: grid;
  grid-template-columns: 266px auto;
  grid-gap: 15px 20px;
}

.personal-info-grid-item1 > div:not(:last-child) {
  margin-bottom: 15px;
}
.personal-info-grid-item2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px 20px;
}
.profile-form-wrap:not(:first-child) {
  padding-top: 3.5rem;
}
.profile-form-wrap {
  padding-bottom: 4rem;
  border-bottom: 1px solid #ececfa;
}
/* .profile-form-wrap:nth-child(2) {
  padding-top: 4rem;
} */

@media only screen and (max-width: 1599px) {
  .personal-info-grid-box {
    grid-template-columns: 200px auto;
  }
}
@media only screen and (max-width: 1439px) {
}
@media only screen and (max-width: 1199px) {
  .personal-info-grid-box {
    grid-template-columns: 100%;
    grid-gap: 15px;
  }
  .personal-info-grid-item1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .personal-info-grid-item2,
  .form-grid-box {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .personal-info-grid-item1 > div:not(:last-child) {
    margin-bottom: 0px;
  }
  .profile-form-wrap h3 {
    font-size: 20px;
  }
  .profile-form-wrap {
    padding-bottom: 30px;
  }
  .profile-form-wrap:not(:first-child) {
    padding-top: 30px;
  }
  .address-wrap .custom-checkbox-wrap .ant-checkbox + span,
  .address-wrap p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .locationbox-wrap {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 767px) {
  /* .personal-info-grid-item1, */
  .personal-info-grid-item2,
  .form-grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-text-label {
    display: none;
  }
}
@media only screen and (max-width: 414px) {
  .profile-form-wrap h3 {
    font-size: 17px;
  }
  .address-wrap .custom-checkbox-wrap {
    margin-top: 12px;
  }
  .address-wrap {
    flex-wrap: wrap;
  }
}
