.form-text-label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #05c882;
  background: #d8fff1;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}
.locationbox-wrap {
  margin-bottom: 4.5rem;
}
.personal-info-grid-box {
  display: grid;
  grid-template-columns: 226px 466px 466px 466px;
  grid-gap: 15px 20px;
}


