.profile-shortname {
  border: 2px solid #05c882;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8f6f7;
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
  flex-shrink: 0;
  margin-right: 17px;
}
.profile-value {
  color: #585881;
}
.message-box-wrap {
  height: 100%;
  color: #060030;
  font-size: 14px;
  font-weight: 600;
  background: #fff;
  padding-right: 20px;
  border-radius: 100px;
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
}
.msg-icon {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebfbf5;
}
.health-grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 27px;
}
.health-grid-item {
  position: relative;
  padding: 32px 30px 24px;
  background-color: var(--white);
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  border-radius: 8px;
}
.health-grid-item h3 {
  max-width: 50%;
  word-break: break-word;
}
.health-grid-item.first-item::after,
.health-grid-item.second-item::after,
.health-grid-item.third-item::after,
.health-grid-item.fourth-item::after {
  content: "";
  position: absolute;
  border-radius: 29.5rem;
  right: -110px;
  top: -10px;
  width: 29.5rem;
  height: 29.5rem;
  z-index: -1;
}
.health-grid-item.first-item::after {
  background: #ebfbf5;
}
.health-grid-item.second-item::after {
  background: #fef2e9;
}
.health-grid-item.third-item::after {
  background: #f4f4fc;
}
.health-grid-item.fourth-item::after {
  background: #e8f6f7;
}

.patient-cardbox-wrap {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px;
  margin-top: 6rem;
}
.patient-card {
  border: 1px solid #d3e3f1;
  border-radius: 5px;
  /* min-height: 514px; */
}
.patient-card.item-3 {
  grid-row-end: span 2;
}
.patient-card.item-3 .new-messages-bg::after {
  content: "0";
  position: absolute;
  color: #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #fb4845;
  width: 28px;
  height: 28px;
  top: 30px;
  right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.patient-card-content {
  padding: 3.8rem 5.2rem 4.6rem 6.2rem;
  max-height: 400px;
  min-height: 410px;
  overflow-y: auto;
  /* overflow-x: hidden; */
}
.patient-card-content.health-records-content {
  padding: 4rem 30px;
}
.health-records-content > div:not(:last-child) {
  margin-bottom: 16px;
}
.health-records-content .pdf-thumbnail-img {
  object-fit: cover;
  width: 13.3rem;
  height: 7.4rem;
}
.health-records-content .pdf-content-wrap {
  padding: 0 34px 0 20px;
}
.card-box-img {
  width: 13.5rem;
  height: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-shrink: 0;
}

.appointment-bg {
  background: #ebfbf5;
}
.health-records-bg {
  background-color: #e1eaee;
}
.new-messages-bg {
  background-color: #f9f9fe;
}
.repeat-prescription-bg {
  background-color: #fef2e9;
}
.card-header {
  border-bottom: 1px solid #ececf8;
}
.card-header h2 {
  max-width: 50%;
  /* max-width: 60%; */
  margin-left: 30px;
  margin-right: 10px;
  word-break: break-word;
}
.patient-card-content .confirm-dot::after,
.patient-card-content .past-dot::after {
  left: -25px;
  width: 12px;
  height: 12px;
}
.past-dot.opacity::after {
  background-color: rgba(255, 183, 98, 0.4);
}
.upcoming-appointments:not(:last-child) {
  margin-bottom: 3.8rem;
}
.helth-card-content .upcoming-appointments:not(:last-child) {
  margin-bottom: 26px;
}

.custom-tabs-wrap .ant-tabs {
  font-family: "Montserrat", sans-serif !important;
}
.custom-tabs-wrap .ant-tabs .ant-tabs-tab {
  padding: 0;
  font-size: 20px;
  width: 100%;
}
.custom-tabs-wrap .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 0px;
}
.custom-tabs-wrap .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.custom-tabs-wrap .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
}
.custom-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
  padding: 6px 23px;
  background-color: transparent;
  color: #060030;
  /* font-size: 20px; */
  text-align: center;
  font-weight: 500;
  text-shadow: none;
  border-radius: 4px;
  width: 100%;
}
.custom-tabs-wrap .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
  background: #5d35e9;
}
.patient-card.item-3 .new-message-card-content {
  padding: 30px 30px 5rem;
}

.custom-tabs-wrap .ant-tabs-nav {
  border-radius: 4px;
  background: #f8f9fd;
  padding: 7px;
  margin-bottom: 30px;
}
.custom-tabs-wrap .ant-tabs-ink-bar {
  display: none;
}
.custom-tabs-wrap .ant-tabs-nav::before {
  display: none;
}
.custom-tabs-wrap .ant-tabs-content-holder {
  /* max-height: 830px; */
  max-height: 810px;
  overflow-y: auto;
  padding-right: 30px;
  margin-right: -30px;
}

.custom-tabs-wrap .ant-tabs-content-holder::-webkit-scrollbar,
.patient-card-content::-webkit-scrollbar {
  width: 2px;
  height: 127px;
}
.custom-tabs-content-wrap:not(:last-child) {
  margin-bottom: 24px;
}
.custom-tabs-content-wrap .small-text {
  color: rgba(141, 141, 163, 0.8);
}
.custom-tabs-content-wrap .avatar-img {
  margin-right: 16px;
  flex-shrink: 0;
}
.custom-tabs-content-wrap .avatar-img img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.text-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.msg-time-wrap {
  position: absolute;
  top: 0;
  right: 18%;
}
.custom-tabs-details-wrap::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ececfa;
}
.patient-card-content .btn-wrap {
  /* margin-bottom: 30px; */
  margin-left: -30px;
}
.patient-card-content .btn-wrap .custom_btn {
  max-width: 248px;
}
.curve-img {
  position: absolute;
  right: 0;
  top: 0;
  object-fit: contain;
  width: 12.5rem;
  height: 12.5rem;
}

/* Responsive Design */
@media only screen and (max-width: 1799px) {
  .health-grid-item {
    padding: 24px 22px 24px;
  }
  .health-grid-item h3 {
    font-size: 21px;
    max-width: 55%;
  }
  .health-grid-item img {
    width: 25%;
  }
  .card-header h2.mid {
    margin-left: 20px;
    font-size: 21px;
  }
  .card-box-img img {
    width: 50%;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 18px;
  }
  .health-records-content .pdf-content-wrap {
    padding: 0 15px;
  }
  /* .patient-card-content {
    padding: 30px 40px;
  } */
  .patient-card-content .confirm-dot::after,
  .patient-card-content .past-dot::after {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 1599px) {
  .health-grid-item h3 {
    font-size: 19px;
    max-width: 60%;
  }
  .health-grid-box {
    grid-gap: 21px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -90px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    font-size: 16px;
    width: 24px;
    height: 24px;
  }
  .patient-cardbox-wrap {
    grid-gap: 25px;
  }
}

@media only screen and (max-width: 1439px) {
  .card-header h2.mid {
    font-size: 19px;
  }
  .upcoming-appointments:not(:last-child) {
    margin-bottom: 20px;
  }
  .custom-tabs-content-wrap .avatar-img img {
    width: 60px;
    height: 60px;
  }
  .custom-tabs-details-wrap::after {
    bottom: -8px;
  }
  .patient-card-content .btn-wrap .custom_btn {
    max-width: 100%;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 16px;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    max-height: 640px;
  }
  .patient-card-content {
    max-height: 330px;
    min-height: 330px;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 14px;
  }
  .patient-card-content.health-records-content {
    padding: 4rem 20px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    font-size: 14px;
    width: 22px;
    height: 21px;
    top: 22px;
    right: 20px;
  }
}

@media only screen and (max-width: 1365px) {
  .health-grid-item h3 {
    font-size: 16px;
    max-width: 60%;
  }
  .health-grid-item img {
    width: 25%;
  }
  .msg-icon {
    width: 40px;
    height: 40px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -75px;
  }
  .patient-cardbox-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .patient-cardbox-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .patient-card.item-3 .new-messages-bg::after {
    width: 22px;
    height: 21px;
    top: 16px;
    right: 16px;
  }
  .card-box-img img {
    width: 60%;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    max-height: 230px;
  }
  .patient-card.item-3 {
    grid-row-end: unset;
  }
  .patient-card-content .confirm-dot::after,
  .patient-card-content .past-dot::after {
    width: 6px;
    height: 6px;
    left: -15px;
  }
  .patient-card-content {
    padding: 25px 20px 25px 36px;
  }
  .patient-card.item-3 .new-message-card-content {
    padding: 25px 20px 25px;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    padding-right: 20px;
    margin-right: -20px;
  }
  .patient-card-content .btn-wrap {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 1199px) {
  .health-grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .patient-card-content .confirm-dot::after,
  .patient-card-content .past-dot::after {
    width: 6px;
    height: 6px;
    left: -15px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -45px;
  }
  .health-grid-item {
    padding: 26px 25px 20px;
  }
  /* .patient-card-content .btn-wrap {
    margin-left: 0px;
  } */
  .profile-shortname {
    width: 50px;
    height: 50px;
    margin-right: 17px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    top: 10px;
    right: 10px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-suffix {
    font-size: 16px;
  }
  .custom-timepicker-wrap .ant-picker {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .health-grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .health-grid-item img {
    width: 22%;
  }
  .health-grid-item {
    padding: 20px 21px 20px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -35px;
  }
  .custom-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
    padding: 6px 16px;
  }
  .card-header h2.mid {
    font-size: 17px;
  }
  .patient-card.item-3 .new-message-card-content {
    padding: 30px 20px 5rem;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    padding-right: 20px;
    margin-right: -20px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-input > input {
    width: 42px;
  }
  .patient-header-title-wrap {
    margin-bottom: 20px;
  }
  .health-grid-box {
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .patient-cardbox-wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
  .card-box-img img {
    width: 60%;
  }
  .card-box-img {
    width: 84px;
    height: 84px;
  }
  .card-header h2.mid {
    font-size: 20px;
  }
  .health-records-content .pdf-thumbnail-img {
    width: 90px;
    height: 50px;
  }
  .curve-img {
    width: 77px;
    height: 77px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    top: 16px;
    right: 16px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -55px;
  }
}

@media only screen and (max-width: 575px) {
  .health-grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -100px;
    width: 248px;
    height: 248px;
    border-radius: 248px;
  }
  .health-grid-item h3 {
    font-size: 20px;
  }
  .custom-tabs-content-wrap .avatar-img img {
    width: 50px;
    height: 50px;
  }
  .health-grid-item img {
    width: 20%;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-input > input {
    width: 35px;
    font-size: 12px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-suffix {
    font-size: 14px;
    top: 4px;
  }
  .custom-timepicker-wrap .ant-picker-range-separator::after {
    height: 20px;
  }
  .patient-card .date-label {
    font-size: 10px;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 10px;
  }
  .custom-tabs-wrap .ant-tabs-nav {
    padding: 3px 6px;
    margin-bottom: 18px;
  }
  .helth-card-content .upcoming-appointments:not(:last-child) {
    margin-bottom: 20px;
  }
  .profile-shortname {
    width: 46px;
    height: 46px;
    margin-right: 10px;
  }
  .home-patient-title h3.small {
    font-size: 20px;
    margin-bottom: 8px !important;
  }
  .dashboard-bg .title-wrap {
    font-size: 18px;
  }
}

@media only screen and (max-width: 424px) {
  .home-patient-title h3.small {
    font-size: 16px;
    margin-bottom: 8px !important;
  }
  .msg-icon {
    width: 35px;
    height: 35px;
  }
  .message-box-wrap {
    padding-right: 10px;
  }
  .msg-icon svg {
    width: 16px;
    height: 16px;
  }
  .dashboard-bg .title-wrap {
    font-size: 16px;
  }
  .health-grid-item h3 {
    font-size: 16px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -105px;
    width: 230px;
    height: 230px;
    border-radius: 230px;
  }
  .card-box-img {
    width: 66px;
    height: 66px;
  }
  .card-header h2.mid {
    font-size: 16px;
    margin-left: 10px;
  }
  .curve-img {
    width: 57px;
    height: 57px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    font-size: 10px;
    width: 14px;
    height: 14px;
    top: 16px;
    right: 16px;
  }
  .patient-card.item-3 .new-message-card-content {
    padding: 15px 20px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-input > input {
    width: 28px;
    font-size: 10px;
  }
  .health-records-content .pdf-thumbnail-img {
    width: 80px;
    height: 45px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-suffix {
    font-size: 11px;
    top: 5px;
  }
  .custom-timepicker-wrap .ant-picker {
    padding-left: 23px;
  }
  .patient-card-content {
    padding: 25px 20px 25px 25px;
  }
  .custom-tabs-content-wrap .avatar-img {
    margin-right: 8px;
  }
  .custom-tabs-content-wrap .avatar-img img {
    width: 45px;
    height: 45px;
  }
  .health-records-content > div:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 350px) {
  .home-patient-title h3.small {
    font-size: 14px;
    margin-bottom: 4px !important;
  }
  .profile-shortname {
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -105px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
  .card-header h2.mid {
    font-size: 14px;
    margin-left: 10px;
  }
  .card-box-img {
    width: 60px;
    height: 60px;
  }
  .upcoming-appointments:not(:last-child) {
    margin-bottom: 15px;
  }
  .custom-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
    padding: 6px 12px;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 9px;
  }
  .patient-card.item-3 .new-message-card-content {
    padding: 15px;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    padding-right: 15px;
    margin-right: -15px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    top: 13px;
    right: 13px;
}

}
