.profile-shortname {
  border: 2px solid #05c882;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8f6f7;
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
  flex-shrink: 0;
  margin-right: 17px;
}
.profile-value {
  color: #585881;
}
.message-box-wrap {
  height: 100%;
  color: #060030;
  font-size: 14px;
  font-weight: 600;
  background: #fff;
  padding-right: 20px;
  border-radius: 100px;
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
}
.msg-icon {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebfbf5;
}
.health-grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 27px;
}
.health-grid-item {
  position: relative;
  padding: 32px 30px 24px;
  background-color: var(--white);
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  border-radius: 8px;
}
.health-grid-item h3 {
  max-width: 50%;
  word-break: break-word;
}
.health-grid-item.first-item::after,
.health-grid-item.second-item::after,
.health-grid-item.third-item::after,
.health-grid-item.fourth-item::after {
  content: "";
  position: absolute;
  border-radius: 29.5rem;
  right: -110px;
  top: -10px;
  width: 29.5rem;
  height: 29.5rem;
  z-index: -1;
}
.health-grid-item.first-item::after {
  background: #ebfbf5;
}
.health-grid-item.second-item::after {
  background: #fef2e9;
}
.health-grid-item.third-item::after {
  background: #f4f4fc;
}
.health-grid-item.fourth-item::after {
  background: #e8f6f7;
}

.patient-cardbox-wrap {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px;
  margin-top: 6rem;
}
.patient-card {
  border: 1px solid #d3e3f1;
  border-radius: 5px;
  /* min-height: 514px; */
}
.patient-card.item-3 {
  grid-row-end: span 2;
}
.patient-card.item-3 .new-messages-bg::after {
  content: "0";
  position: absolute;
  color: #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #fb4845;
  width: 28px;
  height: 28px;
  top: 30px;
  right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.patient-card-content {
  padding: 3.8rem 5.2rem 4.6rem 6.2rem;
  max-height: 400px;
  min-height: 410px;
  overflow-y: auto;
  /* overflow-x: hidden; */
}
.patient-card-content.health-records-content {
  padding: 4rem 30px;
}
.health-records-content > div:not(:last-child) {
  margin-bottom: 16px;
}
.health-records-content .pdf-thumbnail-img {
  object-fit: cover;
  width: 13.3rem;
  height: 7.4rem;
}
.health-records-content .pdf-content-wrap {
  padding: 0 34px 0 20px;
}
.card-box-img {
  width: 13.5rem;
  height: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-shrink: 0;
}

.appointment-bg {
  background: #ebfbf5;
}
.health-records-bg {
  background-color: #e1eaee;
}
.new-messages-bg {
  background-color: #f9f9fe;
}
.repeat-prescription-bg {
  background-color: #fef2e9;
}
.card-header {
  border-bottom: 1px solid #ececf8;
}
.card-header h2 {
  max-width: 50%;
  /* max-width: 60%; */
  margin-left: 30px;
  margin-right: 10px;
  word-break: break-word;
}
.patient-card-content .confirm-dot::after,
.patient-card-content .past-dot::after {
  left: -25px;
  width: 12px;
  height: 12px;
}
.past-dot.opacity::after {
  background-color: rgba(255, 183, 98, 0.4);
}
.upcoming-appointments:not(:last-child) {
  margin-bottom: 3.8rem;
}
.helth-card-content .upcoming-appointments:not(:last-child) {
  margin-bottom: 26px;
}

.custom-tabs-wrap .ant-tabs {
  font-family: "Montserrat", sans-serif !important;
}
.custom-tabs-wrap .ant-tabs .ant-tabs-tab {
  padding: 0;
  font-size: 20px;
  width: 100%;
}
.custom-tabs-wrap .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 0px;
}
.custom-tabs-wrap .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.custom-tabs-wrap .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
}
.custom-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
  padding: 6px 23px;
  background-color: transparent;
  color: #060030;
  /* font-size: 20px; */
  text-align: center;
  font-weight: 500;
  text-shadow: none;
  border-radius: 4px;
  width: 100%;
}
.custom-tabs-wrap .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
  background: #5d35e9;
}
.patient-card.item-3 .new-message-card-content {
  padding: 30px 30px 5rem;
}

.custom-tabs-wrap .ant-tabs-nav {
  border-radius: 4px;
  background: #f8f9fd;
  padding: 7px;
  margin-bottom: 30px;
}
.custom-tabs-wrap .ant-tabs-ink-bar {
  display: none;
}
.custom-tabs-wrap .ant-tabs-nav::before {
  display: none;
}
.custom-tabs-wrap .ant-tabs-content-holder {
  /* max-height: 830px; */
  max-height: 810px;
  overflow-y: auto;
  padding-right: 30px;
  margin-right: -30px;
}

.custom-tabs-wrap .ant-tabs-content-holder::-webkit-scrollbar,
.patient-card-content::-webkit-scrollbar {
  width: 2px;
  height: 127px;
}
.custom-tabs-content-wrap:not(:last-child) {
  margin-bottom: 24px;
}
.custom-tabs-content-wrap .small-text {
  color: rgba(141, 141, 163, 0.8);
}
.custom-tabs-content-wrap .avatar-img {
  margin-right: 16px;
  flex-shrink: 0;
}
.custom-tabs-content-wrap .avatar-img img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.text-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.msg-time-wrap {
  position: absolute;
  top: 0;
  right: 18%;
}
.custom-tabs-details-wrap::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ececfa;
}
.patient-card-content .btn-wrap {
  /* margin-bottom: 30px; */
  margin-left: -30px;
}
.patient-card-content .btn-wrap .custom_btn {
  max-width: 248px;
}
.curve-img {
  position: absolute;
  right: 0;
  top: 0;
  object-fit: contain;
  width: 12.5rem;
  height: 12.5rem;
}

/*jignesh css */
.h6text {
  color: #060030;
  font-family: "Montserrat", sans-serif !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.extrahome-page {
  margin-top: 20px;
}
.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  border-radius: 6px;
  background: #fff;
  padding: 17px 20px;
  margin: 0;
  border: 1px solid #e5eef7;
  margin-right: 15px;
  min-width: 259px;
  font-family: "Montserrat", sans-serif !important;
}
.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active {
  background-color: #ebfbf5;
  border: 1px solid #05c882;
}

.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .icons {
  width: 30px;
  height: 30px;
  background-color: #ebfbf5;
  float: left;
  text-align: center;
  line-height: 26px;
  border-radius: 100px;
}
.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .icons {
  margin-right: 9px;
}
.list {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
}
.extrahome-page .ant-tabs-nav {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.extrahome-page .ant-tabs-nav:before {
  display: none;
}
.extrahome-page .ant-tabs {
  margin-top: 23px;
  box-shadow: 0px 2.333px 6.998px 0px rgba(120, 133, 178, 0.15);
  border-radius: 18.845px;
  background-color: #fff;
}
.extrahome-page .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  display: none;
}
/* .extrahome-page .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .addpatient{
  background-color: #EAFFEC;
}
.extrahome-page .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .patient{
  background-color: #FFF7E1;
} */
.extrahome-page .filed .ant-form-item .ant-row {
  flex-direction: column;
}
.extrahome-page .filed .ant-form-item .ant-row .ant-form-item-label {
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
}
.extrahome-page .filed .ant-form-item .ant-row .ant-form-item-label label {
  color: #000;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .icons .active-image {
  opacity: 0;
}
.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .icons {
  position: relative;
}
.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-tab-active
  .icons
  .active-image {
  opacity: 1;
}
.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active .icons .images {
  opacity: 0;
}
.extrahome-page .filed .ant-form-item .ant-row .ant-col input,
.extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
  border-radius: 12px;
  border: 1px solid #d3e3f1;
  height: 60px;
  background: #fff;
  padding: 19px 20px;
  font-family: "Montserrat", sans-serif !important;
}
.ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active .icons {
  background-color: #05c882;
}
.extrahome-page
  .ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  display: none;
}
.extrahome-page .ant-form-item .ant-form-item-label > label::after {
  display: none;
}
.extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
  background: url("../../../assets/images/icons/right-arrow.svg") no-repeat;
  background-position: right 25px center;
}
.filed.section.savebtn {
  margin-top: 36px;
}
.filed.section.savebtn button {
  width: 161.063px;
  height: 60px;
  border-radius: 500px;
  background: #05c882;
  color: #fff;
  text-align: center;
  /* font-family: Montserrat; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.extrahome-page span.ant-select-selection-item {
  color: #8d8da3;
  /* font-family: Montserrat; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.extrahome-page .filed .ant-form-item .ant-row .ant-col input::placeholder {
  color: #8d8da3;
  /* font-family: Montserrat; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.extrahome-page .ant-select .ant-select-arrow {
  display: none;
  top: 33px;
  color: #000000;
}
.extrahome-page .form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px 22px;
  margin-top: 18px;
}
.extrahome-page .ant-picker-input .ant-picker-suffix {
  position: absolute;
  right: 22px;
}
.extrahome-page .ant-space {
  width: 100%;
}
.extrahome-page .ant-select {
  width: 100% !important;
}
.ant-picker {
  border: unset;
  padding: 0;
  width: 100%;
}

.ant-tabs-tabpane {
  padding: 35px 40px;
}

.extrahome-page .ant-tabs-nav {
  margin-bottom: 0;
}
.ant-picker {
  border: unset;
  padding: 0;
}
.extrahome-page .ant-form-item {
  margin-bottom: 0px;
}
.search-result.section {
  margin-top: 57px;
  border-radius: 20.994px;
  border: 1px solid #d3e3f1;
  background: #fff;
  padding: 19px 0px;
  text-align: center;
  min-height: 314px;
}
.listresult.section {
  background: #f4f4fc;
  height: 41px;
  margin-top: 16px;
}
.extrahome-page span.text {
  color: #25204a;
  /* font-family: Montserrat; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-shadow: inherit;
}
span.ant-input-group-addon {
  display: none !important;
}
.h2text {
  color: #060030;
  /* font-family: Montserrat; */
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.textbold {
  font-weight: 600;
}

.custom-table th.ant-table-cell {
  color: #060030;
  /* font-family: Montserrat; */
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.custom-table .ant-table-cell {
  color: #3e3e46;
  /* font-family: Montserrat; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.856px;
}
.custom-table .ant-table-cell a {
  color: #3e3e46;
  /* font-family: Montserrat; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.856px;
}
.custom-table .ant-table-cell .label {
  text-align: center;
  /* font-family: Montserrat; */
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 7px 13px;
  border-radius: 6.998px;
  min-width: 100px;
  max-width: 100px;
  display: inline-block;
}
span.new-patient {
  background: #e3f2ff;
  color: #60b5ff;
}
span.recovered {
  color: #05c882;
  background: #e8fff7;
}
span.treatment {
  background: #fff9e2;
  color: #f5c107;
}
.custom-table .ant-table-content tr.ant-table-row {
  border-bottom: 1px solid #ececfa !important;
}
.custom-table .ant-table-content th.ant-table-cell {
  background: transparent !important;
  border-top: 1px solid #ececfa;
  border-radius: 0 !important;
  padding: 16px 9px !important;
}
.custom-table .ant-table-content th.ant-table-cell:before {
  display: none;
}
.custom-table .ant-table-tbody .ant-table-cell span.action {
  margin-right: 30px;
  cursor: pointer;
}
.custom-table .ant-table-tbody .ant-table-cell span.action:last-child {
  margin-right: 0px;
}
.custom-table {
  padding-bottom: 70px;
}
.searchsection.section {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 13px;
  padding-right: 0px;
  display: flex;
  justify-content: space-between;
}
.custom-table .ant-table-thead .ant-table-cell span {
  display: flex;
  align-items: center;
}
.custom-table
  ul.ant-pagination.ant-table-pagination.ant-table-pagination-right.css-dev-only-do-not-override-i46qwz {
  display: none;
}
.custom-table .ant-table-thead .ant-table-cell span p {
  margin-bottom: 0;
  margin-right: 12px;
  font-size: 15px;
}
.searchsection .lefts  .ant-input.search-input {
  fill: #fff;
  stroke-width: 0.899px;
  stroke: #b6c9db;
  width: 239.976px;
  height: 44.04px;
  border-radius: 100px;
  padding-left: 18px;
  padding-right: 50px;
  background: url("../../../assets/images/icons/right-arrow.svg") no-repeat;
  background-position: right 25px center;
  font-family: "Montserrat", sans-serif !important;
}
.searchsection .lefts .ant-form-item-control-input-content input::placeholder {
  color: #8d8da3;
  font-family: Montserrat;
  font-size: 13.482px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.printer {
  background-color: #e2e2f8;
  width: 99px;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  color: #626276;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  border: none;
  box-shadow: none;
}
.printer:hover {
  background-color: #cdcddd !important;
  color: #626276 !important;
}
.add_blacks:hover {
  background-color: #0f875c !important;
}
.add_blacks {
  background-color: #05c882;
  width: 156px;
  height: 44px;
  display: flex;
  align-items: center;
  color: #fff;

  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  margin-left: 14px;
}
.printer img,
.add_blacks img {
  margin-right: 7px;
}
.searchsection .rights .btn {
  display: flex;
}
.header-links-wrap .header-link-inage:first-child {
  border: unset;
}
.header-links-wrap .header-link-inage img {
  margin-right: 3px;
}

.header-links-wrap .header-link-inage {
  color: #060030;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
  padding-left: 16px;
  border-left: 1px solid #dbdbec;
  padding-right: 16px;
}

/* Checkbox Design  Start*/
.ant-checkbox {
  background: var(--white);
}
.ant-checkbox-wrapper {
  display: flex;
  align-items: center;
}
.ant-checkbox .ant-checkbox-inner {
  width: 22px;
  height: 22px;
  border: 2px solid #d2d2d2;
  border-radius: 5px;
  background-color: #fff;
}
.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-input {
  background-color: #05c882 !important;
  border-color: #05c882 !important;
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: #05c882 !important;
}
.ant-checkbox .ant-checkbox-inner:after {
  width: 7px;
  height: 12px;
}
/* Checkbox Design  End*/

/* Responsive Design */
@media only screen and (max-width: 1799px) {
  .health-grid-item {
    padding: 24px 22px 24px;
  }
  .health-grid-item h3 {
    font-size: 21px;
    max-width: 55%;
  }
  .health-grid-item img {
    width: 25%;
  }
  .card-header h2.mid {
    margin-left: 20px;
    font-size: 21px;
  }
  .card-box-img img {
    width: 50%;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 18px;
  }
  .health-records-content .pdf-content-wrap {
    padding: 0 15px;
  }
  /* .patient-card-content {
    padding: 30px 40px;
  } */
  .patient-card-content .confirm-dot::after,
  .patient-card-content .past-dot::after {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 1599px) {
  .health-grid-item h3 {
    font-size: 19px;
    max-width: 60%;
  }
  .health-grid-box {
    grid-gap: 21px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -90px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    font-size: 16px;
    width: 24px;
    height: 24px;
  }
  .patient-cardbox-wrap {
    grid-gap: 25px;
  }
}

@media only screen and (max-width: 1439px) {
  .card-header h2.mid {
    font-size: 19px;
  }
  .upcoming-appointments:not(:last-child) {
    margin-bottom: 20px;
  }
  .custom-tabs-content-wrap .avatar-img img {
    width: 60px;
    height: 60px;
  }
  .custom-tabs-details-wrap::after {
    bottom: -8px;
  }
  .patient-card-content .btn-wrap .custom_btn {
    max-width: 100%;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 16px;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    max-height: 640px;
  }
  .patient-card-content {
    max-height: 330px;
    min-height: 330px;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 14px;
  }
  .patient-card-content.health-records-content {
    padding: 4rem 20px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    font-size: 14px;
    width: 22px;
    height: 21px;
    top: 22px;
    right: 20px;
  }
}

@media only screen and (max-width: 1365px) {
  .health-grid-item h3 {
    font-size: 16px;
    max-width: 60%;
  }
  .health-grid-item img {
    width: 25%;
  }
  .msg-icon {
    width: 40px;
    height: 40px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -75px;
  }
  .patient-cardbox-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .patient-cardbox-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .patient-card.item-3 .new-messages-bg::after {
    width: 22px;
    height: 21px;
    top: 16px;
    right: 16px;
  }
  .card-box-img img {
    width: 60%;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    max-height: 230px;
  }
  .patient-card.item-3 {
    grid-row-end: unset;
  }
  .patient-card-content .confirm-dot::after,
  .patient-card-content .past-dot::after {
    width: 6px;
    height: 6px;
    left: -15px;
  }
  .patient-card-content {
    padding: 25px 20px 25px 36px;
  }
  .patient-card.item-3 .new-message-card-content {
    padding: 25px 20px 25px;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    padding-right: 20px;
    margin-right: -20px;
  }
  .patient-card-content .btn-wrap {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 1199px) {
  .health-grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .patient-card-content .confirm-dot::after,
  .patient-card-content .past-dot::after {
    width: 6px;
    height: 6px;
    left: -15px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -45px;
  }
  .health-grid-item {
    padding: 26px 25px 20px;
  }
  /* .patient-card-content .btn-wrap {
    margin-left: 0px;
  } */
  .profile-shortname {
    width: 50px;
    height: 50px;
    margin-right: 17px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    top: 10px;
    right: 10px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-suffix {
    font-size: 16px;
  }
  .custom-timepicker-wrap .ant-picker {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .health-grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .health-grid-item img {
    width: 22%;
  }
  .health-grid-item {
    padding: 20px 21px 20px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -35px;
  }
  .custom-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
    padding: 6px 16px;
  }
  .card-header h2.mid {
    font-size: 17px;
  }
  .patient-card.item-3 .new-message-card-content {
    padding: 30px 20px 5rem;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    padding-right: 20px;
    margin-right: -20px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-input > input {
    width: 42px;
  }
  .patient-header-title-wrap {
    margin-bottom: 20px;
  }
  .health-grid-box {
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .patient-cardbox-wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }
  .card-box-img img {
    width: 60%;
  }
  .card-box-img {
    width: 84px;
    height: 84px;
  }
  .card-header h2.mid {
    font-size: 20px;
  }
  .health-records-content .pdf-thumbnail-img {
    width: 90px;
    height: 50px;
  }
  .curve-img {
    width: 77px;
    height: 77px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    top: 16px;
    right: 16px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -55px;
  }
}

@media only screen and (max-width: 575px) {
  .health-grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -100px;
    width: 248px;
    height: 248px;
    border-radius: 248px;
  }
  .health-grid-item h3 {
    font-size: 20px;
  }
  .custom-tabs-content-wrap .avatar-img img {
    width: 50px;
    height: 50px;
  }
  .health-grid-item img {
    width: 20%;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-input > input {
    width: 35px;
    font-size: 12px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-suffix {
    font-size: 14px;
    top: 4px;
  }
  .custom-timepicker-wrap .ant-picker-range-separator::after {
    height: 20px;
  }
  .patient-card .date-label {
    font-size: 10px;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 10px;
  }
  .custom-tabs-wrap .ant-tabs-nav {
    padding: 3px 6px;
    margin-bottom: 18px;
  }
  .helth-card-content .upcoming-appointments:not(:last-child) {
    margin-bottom: 20px;
  }
  .profile-shortname {
    width: 46px;
    height: 46px;
    margin-right: 10px;
  }
  .home-patient-title h3.small {
    font-size: 20px;
    margin-bottom: 8px !important;
  }
  .dashboard-bg .title-wrap {
    font-size: 18px;
  }
}

@media only screen and (max-width: 424px) {
  .home-patient-title h3.small {
    font-size: 16px;
    margin-bottom: 8px !important;
  }
  .msg-icon {
    width: 35px;
    height: 35px;
  }
  .message-box-wrap {
    padding-right: 10px;
  }
  .msg-icon svg {
    width: 16px;
    height: 16px;
  }
  .dashboard-bg .title-wrap {
    font-size: 16px;
  }
  .health-grid-item h3 {
    font-size: 16px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -105px;
    width: 230px;
    height: 230px;
    border-radius: 230px;
  }
  .card-box-img {
    width: 66px;
    height: 66px;
  }
  .card-header h2.mid {
    font-size: 16px;
    margin-left: 10px;
  }
  .curve-img {
    width: 57px;
    height: 57px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    font-size: 10px;
    width: 14px;
    height: 14px;
    top: 16px;
    right: 16px;
  }
  .patient-card.item-3 .new-message-card-content {
    padding: 15px 20px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-input > input {
    width: 28px;
    font-size: 10px;
  }
  .health-records-content .pdf-thumbnail-img {
    width: 80px;
    height: 45px;
  }
  .custom-timepicker-wrap .ant-picker .ant-picker-suffix {
    font-size: 11px;
    top: 5px;
  }
  .custom-timepicker-wrap .ant-picker {
    padding-left: 23px;
  }
  .patient-card-content {
    padding: 25px 20px 25px 25px;
  }
  .custom-tabs-content-wrap .avatar-img {
    margin-right: 8px;
  }
  .custom-tabs-content-wrap .avatar-img img {
    width: 45px;
    height: 45px;
  }
  .health-records-content > div:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 350px) {
  .home-patient-title h3.small {
    font-size: 14px;
    margin-bottom: 4px !important;
  }
  .profile-shortname {
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }
  .health-grid-item.first-item::after,
  .health-grid-item.second-item::after,
  .health-grid-item.third-item::after,
  .health-grid-item.fourth-item::after {
    right: -105px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
  .card-header h2.mid {
    font-size: 14px;
    margin-left: 10px;
  }
  .card-box-img {
    width: 60px;
    height: 60px;
  }
  .upcoming-appointments:not(:last-child) {
    margin-bottom: 15px;
  }
  .custom-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
    padding: 6px 12px;
  }
  .custom-tabs-wrap .ant-tabs .ant-tabs-tab {
    font-size: 9px;
  }
  .patient-card.item-3 .new-message-card-content {
    padding: 15px;
  }
  .custom-tabs-wrap .ant-tabs-content-holder {
    padding-right: 15px;
    margin-right: -15px;
  }
  .patient-card.item-3 .new-messages-bg::after {
    top: 13px;
    right: 13px;
  }
}

/*jignesh css*/
@media only screen and (min-width: 1600px) and (max-width: 1899px) {
  /*Patients css*/
  .h6text {
    font-size: 30px;
  }

  div#rc-tabs-1-panel-1,
  #rc-tabs-1-panel-2 {
    padding: 35px 30px;
  }
  .search-result.section {
    margin-top: 47px;
    min-height: 300px;
  }
  .filed.section.savebtn button {
    height: 60px;
    font-size: 17px;
  }
  .custom-table .ant-table-cell {
    padding: 16px 11px;
  }
  .custom-table .ant-table-tbody .ant-table-cell span.action {
    margin-right: 20px;
  }
  .extrahome-page .ant-tabs-nav {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .h2text {
    font-size: 24px;
  }
  /*Patients css end*/
}

@media only screen and (min-width: 1350px) and (max-width: 1599px) {
  /*Patients css*/
  .h6text {
    font-size: 26px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input,
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    padding: 18px 17px;
    height: 55px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-form-item-label label {
    font-size: 14px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    background-position: right 17px center;
    background-size: 12px;
  }
  div#rc-tabs-1-panel-1,
  #rc-tabs-1-panel-2 {
    padding: 30px 30px;
  }
  .filed.section.savebtn {
    margin-top: 26px;
  }
  .search-result.section {
    margin-top: 37px;
    min-height: 250px;
  }
  .filed.section.savebtn button {
    height: 60px;
    font-size: 17px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input::placeholder,
  .extrahome-page span.ant-select-selection-item {
    font-size: 14px;
  }
  .extrahome-page .form {
    gap: 14px 16px;
    margin-top: 14px;
  }
  .h2text {
    font-size: 22px;
  }
  .custom-table .ant-table-thead .ant-table-cell span img {
    width: 11px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p {
    margin-right: 8px;
  }
  .extrahome-page .ant-tabs-nav {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  /*Patients css end*/
  /*All Patients css*/
  .searchsection .lefts .ant-form-item-control-input-content input {
    width: 219.976px;
  }
  .searchsection
    .lefts
    .ant-form-item-control-input-content
    input::placeholder {
    font-size: 11px;
  }
  .printer,
  .add_blacks {
    font-size: 14px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p,
  .custom-table .ant-table-content th.ant-table-cell {
    font-size: 13px;
  }
  .custom-table .ant-table-content th.ant-table-cell {
    padding: 9px 9px !important;
  }
  .custom-table .ant-table-cell {
    padding: 9px 9px !important;
    font-size: 14px;
  }
  .custom-table .ant-table-tbody .ant-table-cell span.action {
    margin-right: 10px;
  }
  /*All Patients css end*/
  .header-links-wrap .header-link-inage {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1349px) {
  /*Patients css*/
  .h6text {
    font-size: 26px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input,
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    padding: 18px 17px;
    height: 50px;
  }
  .extrahome-page .form {
    gap: 14px 16px;
    margin-top: 14px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-form-item-label label {
    font-size: 14px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    background-position: right 17px center;
    background-size: 12px;
  }
  div#rc-tabs-1-panel-1,
  #rc-tabs-1-panel-2 {
    padding: 30px 30px;
  }
  .filed.section.savebtn {
    margin-top: 26px;
  }
  .search-result.section {
    margin-top: 37px;
    min-height: 250px;
  }
  .filed.section.savebtn button {
    height: 50px;
    font-size: 17px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input::placeholder,
  .extrahome-page span.ant-select-selection-item {
    font-size: 14px;
  }
  .h2text {
    font-size: 21px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p {
    margin-right: 8px;
  }
  .extrahome-page .ant-tabs-nav {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header-links-wrap .header-link-inage {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
  /*Patients css end*/
  /*All Patients css*/
  .searchsection .lefts .ant-form-item-control-input-content input {
    width: 219.976px;
  }
  .searchsection
    .lefts
    .ant-form-item-control-input-content
    input::placeholder {
    font-size: 11px;
  }
  .printer,
  .add_blacks {
    font-size: 13px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p,
  .custom-table .ant-table-content th.ant-table-cell {
    font-size: 12px;
  }
  .custom-table .ant-table-content th.ant-table-cell {
    padding: 9px 9px !important;
  }
  .custom-table .ant-table-cell .label {
    font-size: 10px;
  }
  .custom-table .ant-table-cell {
    padding: 9px 9px !important;
    font-size: 12px;
  }
  .custom-table .ant-table-tbody .ant-table-cell span.action {
    margin-right: 10px;
  }
  /*All Patients css end*/
}

@media only screen and (min-width: 1121px) and (max-width: 1279px) {
  /*Patients css*/
  .h6text {
    font-size: 26px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input,
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    padding: 18px 17px;
    height: 50px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-form-item-label label {
    font-size: 14px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    background-position: right 17px center;
    background-size: 12px;
  }
  div#rc-tabs-1-panel-1,
  #rc-tabs-1-panel-2 {
    padding: 30px 30px;
  }
  .filed.section.savebtn {
    margin-top: 26px;
  }
  .search-result.section {
    margin-top: 37px;
    min-height: 250px;
  }
  .filed.section.savebtn button {
    height: 50px;
    font-size: 15px;
    width: 151.063px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input::placeholder,
  .extrahome-page span.ant-select-selection-item {
    font-size: 14px;
  }
  .custom-dropdown {
    font-size: 12px;
  }
  .extrahome-page .form {
    gap: 12px 15px;
  }

  .search_bar .form-control {
    max-width: 152px;
  }
  .h2text {
    font-size: 20px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p {
    margin-right: 8px;
  }
  .extrahome-page .ant-tabs-nav {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header-links-wrap .header-link-inage {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .extrahome-page span.text {
    font-size: 14px;
  }
  .ant-tabs-tabpane {
    padding-top: 20px !important;
  }
  .savebtn span {
    font-size: 15px;
  }
  .custom_btn {
    font-size: 11px !important;
  }
  .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    min-width: 219px;
  }
  /*Patients css end*/
  /*All Patients css*/
  .searchsection .lefts .ant-form-item-control-input-content input {
    width: 219.976px;
  }
  .searchsection
    .lefts
    .ant-form-item-control-input-content
    input::placeholder {
    font-size: 11px;
  }
  .printer,
  .add_blacks {
    font-size: 13px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p,
  .custom-table .ant-table-content th.ant-table-cell {
    font-size: 12px;
  }
  .custom-table .ant-table-content th.ant-table-cell {
    padding: 9px 9px !important;
  }
  .custom-table .ant-table-cell .label {
    font-size: 10px;
  }
  .custom-table .ant-table-cell {
    padding: 9px 9px !important;
    font-size: 12px;
  }
  .custom-table .ant-table-tbody .ant-table-cell span.action {
    margin-right: 10px;
  }
  .custom-table .ant-table-content {
    overflow: hidden;
    overflow-x: scroll;
  }
  .custom-table .ant-table-thead .ant-table-cell span img {
    width: 10px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p {
    margin-right: 7px;
  }
  .custom-table table {
    width: 100%;
    display: block;
    min-width: 1020px;
    max-width: 1020px;
  }
  /*All Patients css end*/
}

@media only screen and (min-width: 992px) and (max-width: 1120px) {
  /*Patients css*/
  .h6text {
    font-size: 26px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input,
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    padding: 18px 17px;
    height: 55px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-form-item-label label {
    font-size: 14px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    background-position: right 17px center;
    background-size: 12px;
  }
  div#rc-tabs-1-panel-1,
  #rc-tabs-1-panel-2 {
    padding: 20px;
  }
  .extrahome-page .form {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 15px;
    margin-top: 12px;
  }
  .filed.section.savebtn {
    margin-top: 26px;
  }
  .search-result.section {
    margin-top: 37px;
    min-height: 250px;
  }
  .extrahome-page .ant-tabs {
    margin-top: 16px;
  }
  .filed.section.savebtn button {
    height: 55px;
    font-size: 15px;
    width: 151.063px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input::placeholder,
  .extrahome-page span.ant-select-selection-item {
    font-size: 14px;
  }
  .h2text {
    font-size: 20px;
  }

  .ant-tabs-tabpane {
    padding-top: 20px !important;
  }
  .savebtn span {
    font-size: 15px;
  }
  .custom_btn {
    font-size: 11px !important;
  }
  .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    min-width: 189px;
  }
  .search_bar .form-control {
    max-width: 138px;
  }
  .extrahome-page .ant-tabs-nav {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-links-wrap .header-link-inage {
    padding-left: 10px;
    padding-right: 10px;
  }
  .extrahome-page span.text {
    font-size: 14px;
  }
  header {
    padding: 8px 8px 8px 9px;
  }
  .ant-tabs-tabpane {
    padding: 35px 20px;
  }
  .custom-dropdown {
    font-size: 10px;
  }
  .header-links-wrap .custom_btn {
    padding: 15px 8px;
    margin-right: 13px;
    margin-left: 0;
  }
  .header-links-wrap .header-link-inage {
    text-align: center;
    font-size: 11px;
  }
  /*Patients css end*/
  /*All Patients css*/
  .searchsection .lefts .ant-form-item-control-input-content input {
    width: 219.976px;
  }
  .searchsection
    .lefts
    .ant-form-item-control-input-content
    input::placeholder {
    font-size: 11px;
  }
  .printer,
  .add_blacks {
    font-size: 13px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p,
  .custom-table .ant-table-content th.ant-table-cell {
    font-size: 12px;
  }
  .custom-table .ant-table-content th.ant-table-cell {
    padding: 9px 9px !important;
  }
  .custom-table .ant-table-cell .label {
    display: block;
  }
  .custom-table .ant-table-cell .label {
    font-size: 10px;
  }
  .custom-table .ant-table-cell {
    padding: 9px 9px !important;
    font-size: 12px;
  }
  .custom-table .ant-table-tbody .ant-table-cell span.action {
    margin-right: 10px;
  }
  .custom-table .ant-table-content {
    overflow: hidden;
    overflow-x: scroll;
  }
  .custom-table .ant-table-thead .ant-table-cell span img {
    width: 10px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p {
    margin-right: 7px;
  }
  .custom-table table {
    width: 100%;
    display: block;
    min-width: 1020px;
    max-width: 1020px;
  }
  /*All Patients css end*/
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*Patients css*/
  .h6text {
    font-size: 26px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input,
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    padding: 18px 17px;
    height: 50px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-form-item-label label {
    font-size: 13px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    background-position: right 17px center;
    background-size: 12px;
  }
  div#rc-tabs-1-panel-1,
  #rc-tabs-1-panel-2 {
    padding: 20px;
  }
  .extrahome-page .form {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 15px;
    margin-top: 12px;
  }
  .filed.section.savebtn {
    margin-top: 26px;
  }
  .search-result.section {
    margin-top: 37px;
    min-height: 250px;
  }
  .extrahome-page .ant-tabs {
    margin-top: 16px;
  }
  .filed.section.savebtn button {
    height: 50px;
    font-size: 15px;
    width: 145.063px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input::placeholder,
  .extrahome-page span.ant-select-selection-item {
    font-size: 13px;
  }
  .h2text {
    font-size: 20px;
  }

  .ant-tabs-tabpane {
    padding-top: 20px !important;
  }
  .savebtn span {
    font-size: 15px;
  }
  .custom_btn {
    font-size: 11px !important;
  }
  .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    min-width: 189px;
  }
  .search_bar .form-control {
    max-width: 138px;
  }
  .extrahome-page .ant-tabs-nav {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-links-wrap .header-link-inage {
    padding-left: 10px;
    padding-right: 10px;
  }
  .extrahome-page span.text {
    font-size: 14px;
  }
  header {
    padding: 8px 8px 8px 9px;
  }
  .ant-tabs-tabpane {
    padding: 35px 20px;
  }
  .custom-dropdown {
    font-size: 10px;
  }
  .header-links-wrap .custom_btn {
    padding: 15px 8px;
    margin-right: 13px;
    margin-left: 0;
  }
  .header-links-wrap .header-link-inage {
    text-align: center;
    font-size: 11px;
  }
  /*Patients css end*/
  /*All Patients css*/
  .searchsection .lefts .ant-form-item-control-input-content input {
    width: 219.976px;
  }
  .searchsection
    .lefts
    .ant-form-item-control-input-content
    input::placeholder {
    font-size: 11px;
  }
  .printer,
  .add_blacks {
    font-size: 13px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p,
  .custom-table .ant-table-content th.ant-table-cell {
    font-size: 12px;
  }
  .custom-table .ant-table-content th.ant-table-cell {
    padding: 9px 12px !important;
  }
  .custom-table .ant-table-cell .label {
    display: block;
  }
  .custom-table .ant-table-cell .label {
    font-size: 10px;
  }
  .custom-table .ant-table-cell {
    padding: 9px 12px !important;
    font-size: 12px;
  }
  .custom-table .ant-table-tbody .ant-table-cell span.action {
    margin-right: 10px;
  }
  .custom-table .ant-table-content {
    overflow: hidden;
    overflow-x: scroll;
  }
  .custom-table .ant-table-thead .ant-table-cell span img {
    width: 10px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p {
    margin-right: 7px;
  }
  .custom-table table {
    width: 100%;
    display: block;
    min-width: 1100px;
    max-width: 1100px;
  }
  /*All Patients css end*/
}

@media (max-width: 767px) {
  /*Patients css*/
  .h6text {
    font-size: 26px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input,
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    padding: 18px 17px;
    height: 50px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-form-item-label label {
    font-size: 13px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col .ant-select-selector {
    background-position: right 17px center;
    background-size: 12px;
  }
  div#rc-tabs-1-panel-1,
  #rc-tabs-1-panel-2 {
    padding: 20px;
  }
  .extrahome-page .form {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 15px;
    margin-top: 12px;
  }
  .h2text {
    font-size: 18px;
  }
  .filed.section.savebtn {
    margin-top: 26px;
  }
  .search-result.section {
    margin-top: 37px;
    min-height: 250px;
  }
  .extrahome-page .ant-tabs {
    margin-top: 16px;
  }
  .filed.section.savebtn button {
    height: 50px;
    font-size: 15px;
    width: 145.063px;
  }
  .extrahome-page .filed .ant-form-item .ant-row .ant-col input::placeholder,
  .extrahome-page span.ant-select-selection-item {
    font-size: 13px;
  }

  .ant-tabs-tabpane {
    padding-top: 20px !important;
  }
  .savebtn span {
    font-size: 15px;
  }
  .custom_btn {
    font-size: 11px !important;
  }
  .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    min-width: auto;
  }
  .search_bar .form-control {
    max-width: auto;
  }
  .extrahome-page .ant-tabs-nav {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  span.anticon.anticon-ellipsis {
    font-size: 24px;
  }
  .header-links-wrap .header-link-inage {
    padding-left: 10px;
    padding-right: 10px;
  }
  .extrahome-page span.text {
    font-size: 14px;
  }
  header {
    padding: 8px 8px 8px 9px;
  }
  .ant-tabs-tabpane {
    padding: 35px 20px;
  }
  .custom-dropdown {
    font-size: 10px;
  }
  .header-links-wrap .custom_btn {
    padding: 15px 8px;
    margin-right: 13px;
    margin-left: 0;
  }
  .header-links-wrap .header-link-inage {
    text-align: center;
    font-size: 11px;
  }
  /*Patients css end*/
  /*All Patients css*/
  .searchsection .lefts .ant-form-item-control-input-content input {
    width: 219.976px;
  }
  .searchsection
    .lefts
    .ant-form-item-control-input-content
    input::placeholder {
    font-size: 11px;
  }
  .printer,
  .add_blacks {
    font-size: 13px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p,
  .custom-table .ant-table-content th.ant-table-cell {
    font-size: 12px;
  }
  .custom-table .ant-table-content th.ant-table-cell {
    padding: 9px 12px !important;
  }
  .custom-table .ant-table-cell .label {
    display: block;
  }
  .custom-table .ant-table-cell .label {
    font-size: 10px;
  }
  .custom-table .ant-table-cell {
    padding: 9px 12px !important;
    font-size: 12px;
  }
  .custom-table .ant-table-tbody .ant-table-cell span.action {
    margin-right: 10px;
  }

  .searchsection.section {
    padding-left: 13px;
    padding-bottom: 16px;
    padding-right: 13px;
  }
  .custom-table .ant-table-content {
    overflow: hidden;
    overflow-x: scroll;
  }
  .custom-table .ant-table-thead .ant-table-cell span img {
    width: 10px;
  }
  .custom-table .ant-table-thead .ant-table-cell span p {
    margin-right: 7px;
  }
  .custom-table table {
    width: 100%;
    display: block;
    min-width: 1100px;
    max-width: 1100px;
  }
  /*All Patients css end*/
}
@media (max-width: 567px) {
  .searchsection.section {
    flex-direction: column;
  }
  .searchsection .rights .btn {
    justify-content: flex-end;
  }
  .searchsection.section .rights {
    margin-top: 10px;
  }
}
@media (max-width: 479px) {
  .extrahome-page .form {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px 15px;
    margin-top: 12px;
  }
}
