.filter-box-wrapper {
  width: 62.7rem;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #f2f2fa;
  background: #fafafd;
}
.filter-box-wrapper .title-wrap {
  padding: 20px 21px;
  border-bottom: 1px solid #f2f2fa;
}
.filter-box-wrapper .datepicker-wrap {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.filter-box-wrapper .ant-picker {
  height: 50px;
  background: #fff;
  border: 1px solid #d3e3f1;
}
.filter-box-wrapper .custom-checkbox-wrap {
  padding: 20px 21px 24px;
}

.filter-box-wrapper .custom-checkbox-wrap > label:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 15px;
}

.appointments-tabs-wrap {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 6.5rem;
  width: calc(100% - 62.7rem);
}

.appointments-tabs {
  border-radius: 12px;
  border: 1px solid #d3e3f1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #060030;
  font-size: 20px;
  font-weight: 500;
  padding: 18px;
  cursor: pointer;
}

.appointments-tabs.confirm-selected {
  border-color: #05c882;
}
.appointments-tabs.past-selected {
  border-color: #f6ba06;
}
.appointments-tabs.cancelled-selected {
  border-color: #ff2a2a;
}
.confirm-dot,
.past-dot,
.cancel-dot {
  position: relative;
}
.confirm-dot::after,
.past-dot::after,
.cancel-dot::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.confirm-dot::after {
  background-color: #05c882;
}

.past-dot::after {
  background-color: #f6ba06;
}
.cancel-dot::after {
  background-color: #ff2a2a;
}
.appointments-list-wrapper {
  margin-top: 30px;
}
.appointments-list-wrapper > div:not(:last-child) {
  margin-bottom: 30px;
}
.appointments-list-wrapper .ant-table-thead {
  display: none;
}
.appointments-list-wrapper .ant-table-wrapper table {
  border-radius: 12px;
  border: 1px solid #d3e3f1;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
}

.appointments-list-wrapper .ant-table-wrapper tr > td {
  border-bottom: none;
  border-radius: 12px;
  position: relative;
  max-width: 150px;
  min-width: 150px;
  padding: 20px;
}

.appointments-list-wrapper .ant-table-wrapper tr > td:not(:last-child):after {
  content: "";
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #d3e3f1;
  width: 1px;
  height: 32px;
}

.appointments-list-wrapper .ant-table-wrapper table .confirm-dot::after {
  right: unset;
  left: -16px;
}
.appointments-list-wrapper
  .ant-table-wrapper
  .ant-table-tbody
  .ant-table-row
  > .ant-table-cell-row-hover {
  background: #fff !important;
}

.appointments-timing-wrapper {
  width: 300px;
  flex-shrink: 0;
}
.appointments-schdeule-wrapper {
  width: calc(100% - 300px);
  margin-left: 17rem;
}
.appointments-schdeule-wrapper .bottom-border {
  border-bottom: 1px solid #d3e3f1;
}
.schedule-text-label {
  color: #8d8da3;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 7px;
  display: block;
}
.appointments-schdeule-inner {
  max-width: 54.2%;
  margin-bottom: 3.7rem;
}
.group-wrapper {
  border-radius: 12px;
  border: 1px solid #d3e3f1;
  background: #fff;
  padding: 25px 26px;
}
.appointments-schdeule-input:not(:first-child) {
  margin-top: 25px;
}
.appointments-schdeule-input:not(:last-child) {
  border-bottom: 1px solid #d3e3f1;
  padding-bottom: 27px;
}
.amount-wrap {
  padding: 15px 20px;
  border-radius: 12px;
  background: #e7fff6;
  margin: 25px 0 30px;
}
.status-wrap .confirm-dot::after {
  right: unset;
  left: 0px;
}
.appointments-schdeule-wrapper .dashboard-btn-wrap {
  margin: 4rem 0 33px;
}

.appointments-schdeule-input .status-types {
  padding-left: 18px;
}
.appointments-timing-wrapper .custom-timepicker-wrap .ant-picker {
  font-size: 22px;
}
.appointments-timing-wrapper
  .custom-timepicker-wrap
  .ant-picker
  .ant-picker-input
  > input {
  font-size: 20px;
  width: 60px;
}
.appointments-timing-wrapper
  .custom-timepicker-wrap
  .ant-picker
  .ant-picker-suffix {
  top: 7px;
  margin-inline-start: 0px;
  font-size: 22px;
}
.appointments-timing-wrapper
  .custom-timepicker-wrap
  .ant-picker-range-separator::after {
  height: 24px;
}
.appointments-list-wrapper .ant-table-row {
  overflow-x: auto;
}
.appointments-list-wrapper .ant-spin-nested-loading .ant-spin-container {
  overflow: scroll;
}
.appointments-list-wrapper
  .ant-spin-nested-loading
  .ant-spin-container::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 5px;
}

/* Responsive media query */
@media only screen and (max-width: 1599px) {
  .appointments-schdeule-inner {
    max-width: 70%;
  }
}
@media only screen and (max-width: 1439px) {
  .appointments-tabs {
    font-size: 17px;
    padding: 16px;
  }
  .appointments-list-wrapper .ant-table-wrapper tr > td {
    padding: 15px;
    font-size: 12px;
    min-width: 200px;
  }
}
@media only screen and (max-width: 1199px) {
  .appointments-timing-wrapper {
    width: 260px;
  }
  .appointments-schdeule-wrapper {
    width: calc(100% - 260px);
    margin-left: 60px;
  }
  .appointments-schdeule-inner {
    max-width: 100%;
  }
  .appointments-list-wrapper .ant-table-wrapper tr > td:not(:last-child):after {
    display: none;
  }
  .appointments-tabs-wrap,
  .filter-box-wrapper {
    width: 100%;
  }
  .appointments-tabs-wrap {
    margin-top: 30px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .appointments-timing-wrapper {
    width: 100%;
  }
  .appointments-schdeule-wrapper {
    width: 100%;
    margin-left: 0px;
    margin-top: 30px;
  }
  .appointments-timing-wrapper h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .group-wrapper {
    padding: 20px;
  }
  .appointments-schdeule-input:not(:first-child) {
    margin-top: 20px;
  }
  .appointments-schdeule-input:not(:last-child) {
    padding-bottom: 16px;
  }
  .amount-wrap h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .appointments-schdeule-wrapper .dashboard-btn-wrap .custom_btn {
    min-width: auto;
    padding: 12px 4.5rem;
    font-size: 14px;
  }
  .filter-box-wrapper .datepicker-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 414px) {
  .amount-wrap {
    padding: 15px;
  }
  .appointments-timing-wrapper
    .custom-timepicker-wrap
    .ant-picker
    .ant-picker-input
    > input {
    font-size: 16px;
    width: 46px;
  }
  .appointments-timing-wrapper
    .custom-timepicker-wrap
    .ant-picker
    .ant-picker-suffix {
    font-size: 16px;
    top: 8px;
  }
  .appointments-timing-wrapper h3 {
    font-size: 18px;
  }
  .appointments-schdeule-wrapper .dashboard-btn-wrap .custom_btn {
    width: 100%;
  }
  .appointments-schdeule-wrapper
    .dashboard-btn-wrap
    .custom_btn:not(:last-child) {
    margin-bottom: 10px;
  }
}
