.dashboard-wrap .page-title {
  margin: 35px 0 30px;
}

.protocols-wrapper {
  width: 300px;
  flex-shrink: 0;
}

.protocols-page-wrap {
  width: calc(100% - 300px);
  margin-left: 4rem;
}
.protocols-items-wrap {
  border-radius: 12px;
  border: 1px solid #d3e3f1;
  background: #fff;
  padding: 20px;
  font-family: "Montserrat", sans-serif !important;
}
.protocols-items-wrap .documents-title-wrap button {
  border: none;
  background: transparent;
  box-shadow: none;
}
.protocols-items-wrap .patient-profile-img-wrap img {
  width: 50px;
  height: 50px;
}
.protocols-items-wrap .patient-header-wrap::before {
  display: none;
}
.protocols-items-wrap .patient-header-icon-wrap {
  width: 20px;
  height: 20px;
}
.protocols-items-wrap .patient-header-icon-wrap img {
  width: 10px;
  height: 10px;
}
.protocols-items-wrap .patient-header-wrap {
  padding: 20px 0;
}
.protocols-items-wrap .patient-header-content-wrap {
  padding: 0 0 0 20px;
}
.protocols-items-wrap .patient-bottom-wrap {
  padding-top: 20px;
}
.protocols-items-wrap .patient-block-wrap span.small-text {
  font-size: 10px;
}
.protocols-items-wrap .patient-block-wrap span {
  font-size: 12px;
}

.protocols-items-wrap .btn-wrapper {
  padding-left: 4rem;
}
.protocols-items-wrap .btn-wrapper > .custom_btn.ant-btn {
  padding: 8px 14px;
  min-height: auto;
  font-size: 10px;
  width: 100%;
}
.protocols-items-wrap .custom_btn.ant-btn:hover,
.protocols-items-wrap .custom_btn.ant-btn:focus,
.protocols-items-wrap .custom_btn.ant-btn:active {
  background-color: transparent;
  color: #05c882;
  border-color: var(--caribbean-green);
}
.protocols-items-wrap .custom_btn.ant-btn:not(:last-child) {
  margin-bottom: 5px;
}
.protocols-grid-box-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 27px;
}
.protocols-grid-item-wrap {
  transition: 0.3s all ease;
}
.protocols-grid-item-wrap:hover,
.protocols-grid-item-wrap:focus,
.protocols-grid-item-wrap:active {
  filter: drop-shadow(0px 0px 20px rgba(120, 133, 178, 0.15));
}
.protocols-item-img-wrap {
  padding: 10px;
  width: 73px;
  height: 77px;
  border-radius: 12px 0 0 12px;
}
.protocols-item-img-wrap img {
  object-fit: contain;
}
.protocols-item-img-wrap.cdm-bg {
  background-color: #ebfbf5;
}
.protocols-item-img-wrap.cycle-of-care-bg {
  background-color: #fff3f3;
}
.protocols-item-img-wrap.ocf-bg {
  background-color: #e7eefa;
}
.protocols-item-img-wrap.pp-bg {
  background-color: #fffaea;
}
.protocols-item-img-wrap.pregnency-bg {
  background-color: #f9f9fe;
}
.protocols-item-img-wrap.postnatal-visit-bg {
  background-color: #f9f9fe;
}

.protocols-item-content-wrap {
  border-style: solid;
  border-color: rgba(211, 227, 241, 0.6);
  border-width: 1px 1px 1px 0;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  filter: drop-shadow(0px 0px 20px rgba(120, 133, 178, 0.15));
  border-radius: 0 12px 12px 0;
}
.protocols-item-content-wrap p {
  color: #25204a;
  padding-left: 15px;
}

/* Responsive Design  */

@media only screen and (max-width: 1799px) {
  .protocols-grid-box-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .protocols-content-wrap .patient-header-content-wrap h6,
  .protocols-content-wrap .documents-title-wrap h6 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1365px) {
  .protocols-grid-box-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .protocols-wrapper {
    width: 100%;
  }
  .protocols-page-wrap {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .protocols-items-wrap .btn-wrapper > .custom_btn.ant-btn {
    width: max-content;
    display: block;
    margin-left: auto;
    min-width: 100px;
  }
  .protocols-content-wrap {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 767px) {
  .protocols-grid-box-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .protocols-content-wrap .patient-bottom-wrap > div {
    width: auto;
  }
  .protocols-items-wrap .patient-bottom-wrap {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 575px) {
  .protocols-items-wrap .patient-profile-img-wrap img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .protocols-items-wrap .patient-header-content-wrap {
    padding: 0 0 0 0px;
  }
  .protocols-items-wrap .patient-header-content-wrap .small-text {
    font-size: 10px;
  }
  .patient-header-content-wrap h6 {
    margin-bottom: 5px;
  }
  .protocols-item-content-wrap p {
    font-size: 14px;
  }
  .protocols-items-wrap .patient-bottom-wrap {
    flex-wrap: wrap;
  }
  .protocols-items-wrap .btn-wrapper {
    padding-left: 0;
    padding-top: 10px;
  }
  .protocols-items-wrap .btn-wrapper > .custom_btn.ant-btn {
    display: inline-block;
  }
  .protocols-items-wrap .custom_btn.ant-btn:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .protocols-grid-box-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .protocols-item-img-wrap {
    width: 70px;
    height: 70px;
  }
  .protocols-items-wrap .patient-header-wrap {
    padding: 15px 0;
  }
  .protocols-items-wrap .patient-bottom-wrap {
    padding-top: 15px;
  }
}
