.pregnancy-detail-dashobard .page-title {
  margin: 0;
  padding-bottom: 18px;
  border-bottom: 1px solid #d3e3f1;
}
.pregnancy-blocks-wrap {
  margin-top: 4rem;
}
.protocols-page-wrap.pregnancy-content-wrap {
  margin-left: 6rem;
}
.form-grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
.form-grid-item.item-3 {
  grid-template-columns: repeat(3, 1fr);
}
.custom-label-wrap .label-wrap {
  margin-bottom: 15px;
}
.custom-label-wrap h3 svg {
  width: 20px;
  height: 20px;
}
.pregnancy-blocks-wrap.space-top {
  margin-top: 25px;
}
.form-blocks-wrap:not(:last-child) {
  padding-bottom: 4rem;
  border-bottom: 1px solid #d3e3f1;
}
.pregnancy-form .form-floating > label {
  line-height: normal;
}
.pregnancy-form .custom-input-wrap input::placeholder,
.pregnancy-form .custom-input-wrap textarea::placeholder,
.pregnancy-form .custom-input-wrap input.ant-input::placeholder {
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  color: #8d8da3;
}
.pregnancy-form .custom-input-wrap input::-webkit-scrollbar,
.pregnancy-form .custom-input-wrap textarea::-webkit-scrollbar,
.pregnancy-form .custom-input-wrap input.ant-input::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
.pregnancy-form .custom-input-wrap input:focus,
.pregnancy-form .custom-input-wrap textarea:focus {
  box-shadow: 0 0 0 0.2rem rgb(5 200 130 / 25%) !important;
}
.pregnancy-form .form-floating > .form-control {
  padding: 26px 20px;
}
.pregnancy-form .form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control:focus {
  padding-top: 35px;
  padding-bottom: 17px;
}
.pregnancy-form .form-floating > label {
  /* font-size: 13px; */
  white-space: wrap;
}
.pregnancy-form .form-spacing:not(:last-child) {
  margin-bottom: 25px;
}
.protocols-accordion-wrapper {
  margin-top: 30px;
}
.protocols-accordion-wrapper .accordion-button {
  color: #060030;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  padding: 0 15px 0 0;
  border-radius: 6px !important;
}
.protocols-accordion-wrapper .accordion-item:not(:last-child) {
  margin-bottom: 15px;
}
.protocols-accordion-wrapper .accordion-item {
  border: none;
}
.protocols-accordion-wrapper .accordion-icon-wrap {
  width: 40px;
  height: 40px;
  background-color: #05c882;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  flex-shrink: 0;
  margin-right: 15px;
}
.protocols-accordion-wrapper .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9' viewBox='0 0 15 9' fill='none'%3E%3Cpath d='M13.9688 1.33984L7.48535 7.96816L1.00196 1.33984' stroke='%238D8DA3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
}
.protocols-accordion-wrapper .accordion-button:not(.collapsed) {
  color: #060030;
  background: #eaffec;
  box-shadow: none;
}
.protocols-accordion-wrapper .accordion-links-wrap {
  color: #8d8da3;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: normal;
}
.protocols-accordion-wrapper .accordion-links-wrap:not(:last-child) {
  margin-bottom: 10px;
}
.protocols-accordion-wrapper .accordion-links-wrap img {
  margin-right: 8px;
}
.protocols-accordion-wrapper .accordion-body {
  padding: 14px 14px 14px 50px;
}

.select-grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.select-grid-item .form-content-wrap .custom-label-wrap {
  margin-right: 20px;
}
.pregnancy-form .custom-checkbox-wrap .ant-checkbox + span {
  color: var(--stratos);
}
.pregnancy-form .custom-checkbox-wrap.meds-wrap > label:not(:last-child) {
  margin-bottom: 14px;
  margin-right: 0px;
}

.plan-wrap .btn-wrap .custom_btn {
  border-radius: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 14px;
  letter-spacing: -0.3px;
  font-size: 10px;
}
.plan-wrap .btn-wrap .custom_btn img {
  margin-right: 5px;
}
.plan-wrap .btn-wrap > button:not(:last-child) {
  margin-right: 5px;
}
.plan-wrap .btn-wrap .custom_btn:hover,
.plan-wrap .btn-wrap .custom_btn:focus,
.plan-wrap .btn-wrap .custom_btn:active {
  background-color: #11a873 !important;
  color: #fff !important;
}
.plan-wrap .custom-label-wrap {
  margin-bottom: 15px;
}
.print-prescription-btn {
  margin-top: 7rem;
}
.print-prescription-btn .custom_btn.ant-btn {
  font-size: 18px;
  padding: 18px 4.6rem;
}
.pregnancy-grid-itembox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 20px;
}
.pregnancy-grid-itembox .custom-input-wrap .custom-checkbox-wrapper {
  margin-right: 16px;
}
.pregnancy-grid-itembox .custom-input-wrap .ant-input {
  padding: 24px 18px;
}
.chart-information.form-blocks-wrap {
  padding-bottom: 4rem;
  border-bottom: 1px solid #d3e3f1;
}

/* Responsive Design  */

@media only screen and (max-width: 1799px) {
  .pregnancy-grid-itembox {
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 1599px) {
  .form-grid-item.item-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .pregnancy-form .form-spacing:not(:last-child) {
    margin-bottom: 20px;
  }
  .form-grid-item {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .custom-checkbox-wrap .ant-checkbox + span {
    font-size: 15px;
  }
  .custom-label-wrap .label-wrap {
    margin-bottom: 10px;
  }
  .custom-label-wrap h3 {
    font-size: 17px;
  }
  .custom-label-wrap h5 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1439px) {
  .pregnancy-form .form-control,
  .pregnancy-form .custom-input-wrap .ant-input,
  .pregnancy-form .form-floating > label {
    font-size: 15px;
  }
  .pregnancy-grid-itembox {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 1199px) {
  .protocols-page-wrap.pregnancy-content-wrap {
    margin-left: 0;
  }
  .pregnancy-detail-dashobard .page-title {
    font-size: 20px;
    padding-bottom: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .form-grid-item.item-3,
  .pregnancy-grid-itembox {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 575px) {
  .plan-wrap .custom-label-wrap {
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  .plan-wrap .custom-label-wrap .btn-wrap {
    width: 100%;
    margin-top: 5px;
    flex-wrap: wrap;
  }
  .print-prescription-btn .custom_btn.ant-btn {
    padding: 14px 4.6rem;
    font-size: 12px !important;
  }
  .custom-label-wrap h6.label-wrap {
    font-size: 13px;
  }
}

@media only screen and (max-width: 480px) {
  .pregnancy-detail-dashobard .page-title {
    font-size: 18px;
    padding-bottom: 12px;
  }
  .custom-label-wrap h3 {
    font-size: 16px;
  }
  .custom-checkbox-wrap > label:not(:last-child) {
    margin-right: 5px;
    margin-bottom: 8px;
  }
  .custom-checkbox-wrap .ant-checkbox + span {
    font-size: 13px;
  }
  .pregnancy-form .form-control,
  .pregnancy-form .custom-input-wrap .ant-input,
  .pregnancy-form .form-floating > label {
    font-size: 14px;
  }
  .pregnancy-form .form-floating > .form-control {
    padding: 20px 15px;
  }

  .select-grid-item {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .pregnancy-form .form-floating > .form-control:not(:placeholder-shown),
  .form-floating > .form-control:focus {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .pregnancy-form .form-floating > label {
    padding: 1rem 15px;
  }
  .select-grid-item .custom-label-wrap .label-wrap {
    font-size: 12px;
  }
  .pregnancy-form .custom-checkbox-wrap.meds-wrap > label:not(:last-child) {
    margin-bottom: 10px;
  }
  .pregnancy-grid-itembox .custom-input-wrap .custom-checkbox-wrapper {
    margin-right: 10px;
  }
  .pregnancy-form .measurements-label-wrap.form-floating > .form-control {
    padding: 35px 15px 12px 15px;
  }
}

@media only screen and (max-width: 414px) {
  .plan-wrap .custom-label-wrap .btn-wrap {
    display: grid !important;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .plan-wrap .btn-wrap > button:not(:last-child) {
    margin-right: 0px;
  }
  .protocols-accordion-wrapper .accordion-links-wrap {
    font-size: 14px;
  }
  .protocols-accordion-wrapper .accordion-links-wrap:not(:last-child) {
    margin-bottom: 6px;
  }
}
