.custom-tabs-wrapper.documents-homepage-wrap .ant-tabs-nav-wrap {
  min-width: 157px;
  border-radius: 0px;
  border: 1px solid transparent;
  background: #fff;
  padding: 0px;
}
.custom-tabs-wrapper.documents-homepage-wrap
  .ant-tabs-left
  > .ant-tabs-content-holder {
  padding-left: 4rem;
}

.custom-tabs-wrapper.documents-homepage-wrap .ant-table-wrapper table {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #b6c9db;
}
.custom-tabs-wrapper.documents-homepage-wrap .ant-table-thead tr > th {
  background-color: transparent;
  font-size: 16px;
  border-bottom: 1px solid rgb(213, 213, 229, 0.5);
}
.custom-tabs-wrapper.documents-homepage-wrap
  .ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background-color: transparent;
  font-size: 16px;
}

.custom-tabs-wrapper.documents-homepage-wrap
  .ant-table-wrapper
  .ant-table-tbody
  tr
  > td {
  font-size: 16px;
  font-weight: 500;
  color: var(--manatee);
  border-bottom: 1px solid rgb(213, 213, 229, 0.5);
}

.custom-tabs-wrapper.documents-homepage-wrap .ant-table-thead tr > th::before,
.custom-tabs-wrapper.documents-homepage-wrap .ant-table-thead tr > td::before {
  display: none;
}

.custom-tabs-wrapper.documents-homepage-wrap .transparent-link {
  border-radius: 6.282px;
  border: 1.047px solid #05c882;
  background: #fff;
  color: #05c882;
  padding: 6px 14px;
  font-size: 10.469px;
  font-weight: 600;
  letter-spacing: -0.314px;
  text-align: center;
  line-height: normal;
}
.custom-tabs-wrapper.documents-homepage-wrap .transparent-link:hover,
.custom-tabs-wrapper.documents-homepage-wrap .transparent-link:focus,
.custom-tabs-wrapper.documents-homepage-wrap .transparent-link:active {
  background: #05c882;
  color: #fff;
}
.custom-tabs-wrapper.documents-homepage-wrap .ant-checkbox .ant-checkbox-inner {
  width: 19px;
  height: 19px;
}
.custom-tabs-wrapper.documents-homepage-wrap
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #05c882;
  border-color: #05c882;
}

.custom-tabs-wrapper.documents-homepage-wrap
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: #05c882;
  border-color: transparent;
}

.custom-tabs-wrapper.documents-homepage-wrap
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-inner,
.custom-tabs-wrapper.documents-homepage-wrap
  .ant-checkbox:not(.ant-checkbox-disabled):hover
  .ant-checkbox-inner {
  border-color: #05c882;
}

.custom-tabs-wrapper.documents-homepage-wrap
  .ant-table-wrapper
  table
  tr
  th.ant-table-selection-column,
.custom-tabs-wrapper.documents-homepage-wrap
  .ant-table-wrapper
  table
  tr
  td.ant-table-selection-column,
.custom-tabs-wrapper.documents-homepage-wrap
  .ant-table-wrapper
  .ant-table-selection-column {
  padding-inline-end: 20px;
  padding-inline-start: 26px;
}
.custom-tabs-wrapper.documents-homepage-wrap
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :nth-last-child(2) {
  min-width: 100px;
}

.actions-btn a {
  min-width: 61px;
}
.actions-btn a:not(:last-child) {
  margin-right: 9px;
}

.custom-tabs-wrapper.documents-homepage-wrap .ant-table-content {
  overflow-x: auto;
}

.custom-tabs-wrapper.documents-homepage-wrap
  .ant-table-wrapper
  .ant-table-tbody
  tr
  > td:nth-child(2) {
  min-width: 160px;
  max-width: 160px;
}
.custom-tabs-wrapper.documents-homepage-wrap
  .ant-table-wrapper
  .ant-table-tbody
  tr
  > td:nth-child(5) {
  min-width: 200px;
  max-width: 200px;
}
.print-btn {
  margin-top: 4rem;
  border-top: 1px solid #d3e3f1;
}

.print-btn .ant-btn.custom_btn {
  font-family: "Montserrat", sans-serif !important;
  height: 50px;
  min-width: 150px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 5rem;
}
.print-btn .ant-btn.custom_btn:hover,
.print-btn .ant-btn.custom_btn:focus,
.print-btn .ant-btn.custom_btn:active {
  color: #05c882;
  border-color: #05c882;
}

.ant-tabs-dropdown .ant-tabs-dropdown-menu {
  padding: 0;
}
.ant-tabs-dropdown .ant-tabs-dropdown-menu-item {
  padding: 10px;
  color: #25204a;
  font-size: 16px;
  font-weight: 600;
}

.ant-tabs-dropdown .ant-tabs-dropdown-menu-item .icon-wrap {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebfbf5;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  color: #05c882;
}

/* .document.section {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 22px;
}
.documents-section {
  margin-top: 30px;
}
.document .listpage {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0 12px;
  margin-bottom: 40px;
}
.documents-section .left {
  padding: 17px 10px;
  border-radius: 6px;
  border: 1px solid #e5eef7;
}
.documents-section .document .listpage .left a {
  color: #25204a;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
}
.documents-section .document .listpage .left span {
  min-width: 30px;
  height: 30px;
  background-color: #05c882;
  float: left;
  text-align: center;
  line-height: 26px;
  border-radius: 100px;
  margin-right: 10px;
}
.documents-section .doc-table .ant-tabs-tab-btn span {
  border-radius: 6px;
  background: #05c882;
  width: 40px;
  height: 40px;
  float: left;
  line-height: 40px;
}
.documents-section .doc-table .ant-tabs-tab-btn p {
  color: #060030;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  padding-left: 15px;
}
:where(.css-dev-only-do-not-override-i46qwz).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  text-shadow: inherit !important;
}
.documents-section .ant-tabs-tab {
  padding: 0 !important;
  border: unset !important;
}
.documents-section .ant-tabs-tab-btn {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
}
.documents-section .doc-table .ant-tabs-nav {
  width: 157px;
}
.documents-section .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  display: none;
}
.documents-section .ant-tabs-content-holder {
  border-left: unset !important;
}
.documents-section .doc-table .ant-tabs-nav-wrap:before,
.doc-table .ant-tabs-nav-wrap:after {
  display: none;
}
.documents-section
  .doc-table
  .ant-tabs-nav-wrap
  .ant-tabs-nav-list
  .ant-tabs-tab-active {
  background: #eaffec;
}
:where(.css-dev-only-do-not-override-i46qwz).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #05c882;
  border-color: #05c882;
}
:where(.css-dev-only-do-not-override-i46qwz).ant-checkbox-wrapper-checked:not(
    .ant-checkbox-wrapper-disabled
  ):hover
  .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-i46qwz).ant-checkbox-checked:not(
    .ant-checkbox-disabled
  ):hover
  .ant-checkbox-inner {
  background-color: #05c882 !important;
  border-color: transparent;
}

.document-table {
  border: 1px solid #b6c9db;
  border-radius: 10px;
  padding-bottom: 5px;
}

.doc-table .ant-tabs-tabpane {
  padding-top: 0 !important;
  padding-left: 40px !important;
  padding-right: 0 !important;
}
.document-table a.actions-link {
  border-radius: 6.282px;
  border: 1.047px solid #05c882;
  background: #fff;
  height: 26.173px;
  line-height: 26px;
  color: #05c882;
  padding: 6px 12px;
  text-align: center;
  font-family: Montserrat;
  font-size: 10.469px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: -0.314px;
}
.document-table a.actions-link:hover {
  background: #05c882;
  color: #fff;
}
span.nary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
span.actions a.actions-link {
  margin: 0 4px;
}
span.nary p {
  margin-bottom: 0;
}
.document-table td.ant-table-cell b {
  color: #8d8da3;

  font-family: Montserrat;
  font-size: 16.157px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.747px; 
  letter-spacing: -0.485px;
  text-decoration-line: underline;
}
span.o1 {
  opacity: 0;
}
.printbtn .custom_btn {
  background-color: #05c882;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  padding: 29px 52px;
}
.printbtn .custom_btn:hover {
  background-color: #0f875c !important;
}
.printbtn .custom_btn span {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.printbtn {
  border-top: 1px solid #d3e3f1;
  margin-top: 40px;
  padding-top: 50px;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns .btn {
  display: flex;
  outline: none;
  border: none;
}
.btns h2 {
  margin-bottom: 0;
}
.btns .btn button {
  width: auto;
  padding: 12px 15px;
  margin-left: 5px;
  outline: none;
  border: none;
  box-shadow: none;
} */

/*responsive css*/
@media only screen and (max-width: 1799px) {
  .custom-tabs-wrapper.documents-homepage-wrap .ant-table-wrapper table {
    min-width: 1400px;
    max-width: 1400px;
  }
  .print-btn .ant-btn.custom_btn {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 991px) {
  .custom-tabs-wrapper.documents-homepage-wrap
    .ant-tabs-left
    > .ant-tabs-content-holder {
    padding-left: 0;
  }
}

/* @media only screen and (min-width: 1600px) and (max-width: 1899px) {
  .document.section {
    padding: 30px;
  }
  .documents-section .doc-table .ant-tabs-tab-btn p {
    font-size: 14px;
  }
  .document-table td.ant-table-cell b {
    font-size: 15.157px;
  }
  .document-table td.ant-table-cell b {
    font-size: 15.157px;
  }
  .printbtn .custom_btn {
    padding: 26px 49px;
  }
  .printbtn .custom_btn span {
    font-size: 16px;
  }
  .printbtn {
    margin-top: 30px;
    padding-top: 40px;
  }
} */

/* @media only screen and (min-width: 1350px) and (max-width: 1599px) {
  .document.section {
    padding: 30px;
  }
  .documents-section .doc-table .ant-tabs-tab-btn p {
    font-size: 13px;
  }
  .documents-section document-table td.ant-table-cell b,
  .document-table td.ant-table-cell b {
    font-size: 14px;
  }

  .printbtn .custom_btn {
    padding: 26px 49px;
  }
  .printbtn .custom_btn span {
    font-size: 16px;
  }
  .printbtn {
    margin-top: 30px;
    padding-top: 40px;
  }
  .documents-section .document .listpage .left a {
    font-size: 11px;
  }
} */

/* @media only screen and (min-width: 1280px) and (max-width: 1349px) {
  .document.section {
    padding: 30px;
  }
  .documents-section .doc-table .ant-tabs-tab-btn p {
    font-size: 13px;
  }
  .documents-section document-table td.ant-table-cell b,
  .document-table td.ant-table-cell b {
    font-size: 12px;
  }
  .document .listpage {
    margin-bottom: 30px;
  }
  .printbtn .custom_btn {
    padding: 26px 39px;
  }
  .printbtn .custom_btn span {
    font-size: 16px;
  }
  .printbtn {
    margin-top: 30px;
    padding-top: 40px;
  }
  .documents-section .document .listpage .left a {
    font-size: 11px;
  }
} */

/* @media only screen and (min-width: 1121px) and (max-width: 1279px) {
  .document.section {
    padding: 30px;
  }
  .documents-section .doc-table .ant-tabs-tab-btn p {
    font-size: 13px;
  }
  .documents-section document-table td.ant-table-cell b,
  .document-table td.ant-table-cell b {
    font-size: 12px;
  }
  .document .listpage {
    margin-bottom: 30px;
  }
  .printbtn .custom_btn {
    padding: 26px 39px;
  }
  .printbtn .custom_btn span {
    font-size: 16px;
  }
  .printbtn {
    margin-top: 30px;
    padding-top: 40px;
  }
  .documents-section .document .listpage .left a {
    font-size: 11px;
  }
  .document .listpage {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .documents-section .custom-table table {
    min-width: 840px;
    max-width: 840px;
  }
} */

/* @media only screen and (min-width: 992px) and (max-width: 1120px) {
  .document.section {
    padding: 30px;
  }
  .documents-section .doc-table .ant-tabs-tab-btn p {
    font-size: 13px;
  }
  .documents-section document-table td.ant-table-cell b,
  .document-table td.ant-table-cell b {
    font-size: 12px;
  }
  .document .listpage {
    margin-bottom: 30px;
  }
  .printbtn .custom_btn {
    padding: 23px 35px;
  }
  .printbtn .custom_btn span {
    font-size: 16px;
  }
  .printbtn {
    margin-top: 30px;
    padding-top: 40px;
  }
  .documents-section .document .listpage .left a {
    font-size: 11px;
  }
  .document .listpage {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .documents-section .custom-table table {
    min-width: 840px;
    max-width: 840px;
  }
} */

/* @media only screen and (min-width: 768px) and (max-width: 991px) {
  .document.section {
    padding: 30px;
  }
  .documents-section .doc-table .ant-tabs-tab-btn p {
    font-size: 13px;
  }
  .documents-section document-table td.ant-table-cell b,
  .document-table td.ant-table-cell b {
    font-size: 12px;
  }
  .document .listpage {
    margin-bottom: 30px;
  }
  .printbtn .custom_btn {
    padding: 23px 35px;
  }
  .printbtn .custom_btn span {
    font-size: 16px;
  }
  .printbtn {
    margin-top: 30px;
    padding-top: 40px;
  }
  .documents-section .document .listpage .left a {
    font-size: 11px;
  }
  .document .listpage {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .documents-section .custom-table table {
    min-width: 910px;
    max-width: 910px;
  }
  .documents-section .ant-tabs {
    flex-direction: column;
  }
  .documents-section .doc-table .ant-tabs-tabpane {
    padding-top: 0 !important;
    padding-left: 0px !important;
    padding-right: 0 !important;
  }
  .documents-section .doc-table .ant-tabs-nav {
    width: 100%;
    margin-bottom: 23px;
  }
} */

/* @media (max-width: 767px) {
  .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .btns h2 {
    margin-bottom: 9px;
  }
  .document .listpage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 40px;
  }
  .document.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 22px;
  }
  .documents-section .doc-table .ant-tabs-nav {
    width: 100%;
  }
  .documents-section .ant-tabs {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
  }
  .documents-section .doc-table .ant-tabs-nav {
    width: 100%;
    margin-bottom: 30px;
  }
  .doc-table .ant-tabs-tabpane {
    padding-top: 0 !important;
    padding-left: 0px !important;
    padding-right: 0;
  }
  .printbtn .custom_btn {
    background-color: #05c882;
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    padding: 24px 43px;
  }
  .printbtn {
    border-top: 1px solid #d3e3f1;
    margin-top: 30px;
    padding-top: 30px;
  }
  .document-table td.ant-table-cell b {
    font-size: 12px;
  }
  .documents-section .custom-table table {
    width: 100%;
    display: block;
    min-width: 890px;
    max-width: 1100px;
  }
} */
