/* .payments-modal {
  font-family: "Montserrat", sans-serif !important;
}

.payments-modal .ant-form {
  font-family: "Montserrat", sans-serif !important;
}
.payments-modal.warningmodal_box .add_document-centered .modal-header {
  border: 1px solid transparent;
  background: #f5f5fd;
  padding: 19px 30px;
  border-bottom: 1px solid #b6c9db;
  border-radius: 18px 18px 0 0;
}
.payments-modal .modal-content {
  border-radius: 18px;
}
.payments-modal.warningmodal_box .add_document-centered .modal-body {
  padding: 25px 34px 50px;
}
.payments-modal .modal-title {
  font-size: 24px;
  color: #060030;
  font-weight: 600;
}
.payments-modal.warningmodal_box .modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 34px;
  border-top: 1px solid #d3e3f1;
  gap: 0;
  padding: 30px 0 46px;
}
.payments-modal.warningmodal_box
  .add_document-centered
  .modal-footer
  .custom_btn:not(:last-child) {
    margin-right: 20px;
  }
.payments-modal.warningmodal_box
  .add_document-centered
  .modal-footer
  .custom_btn {
  width: auto;
  width: auto;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
  height: auto;
  font-family: "Montserrat", sans-serif !important;
  padding: 17px 35px;
  line-height: normal;
}

.payments-modal .ant-modal-header .ant-modal-title {
  color: var(--stratos);
  font-weight: 600;
  font-size: 24px;
}
.payments-modal .ant-modal-close {
  color: rgba(0, 0, 0, 1);
  top: 25px;
}
.payments-modal .ant-modal-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-top: 1px solid #d3e3f1;
  margin: 0 34px;
  padding: 30px 0 46px;
}
.payments-modal .ant-modal-footer > .ant-btn + .ant-btn {
  margin-inline-start: 0px;
  margin-right: 20px;
}
.payments-modal .ant-btn {
  margin-inline-start: 0px;
  width: auto;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
  height: auto;
  font-family: "Montserrat", sans-serif !important;
  padding: 17px 35px;
  line-height: normal;
}
.payments-modal .ant-btn.ant-btn-primary {
  background-color: #05c882;
  color: #fff;
}
.payments-modal .ant-btn.ant-btn-default {
  background-color: #ececfa;
  color: #78789b;
}
.payments-modal .ant-btn-default:hover,
.payments-modal .ant-btn-default:focus,
.payments-modal .ant-btn-default:active {
  background-color: #cccced !important;
  color: #78789b !important;
}
.payments-modal .ant-btn-primary:hover,
.payments-modal .ant-btn-primary:focus,
.payments-modal .ant-btn-primary:active {
  background-color: #04ad70 !important;
}
.payments-modal .ant-modal-body {
  padding: 25px 34px 50px;
  max-height: 700px;
  overflow-y: auto;
  font-family: "Montserrat", sans-serif !important;
}
.payments-modal .patients-info {
  border: 1px solid #dedeeb;
  border-radius: 12px;
  overflow: hidden;
}
.payments-modal .patients-payments-title {
  background: #fafafd;
  padding: 20px 34px;
  border-right: 1px solid #dedeeb;
}
.payments-modal .patients-payments-title,
.payments-modal .patients-payments-desc {
  flex: 0 0 50%;
}
.payments-modal .patients-payments-desc {
  justify-content: space-around;
  text-align: center;
}
.payments-modal .patients-payments-desc > div:first-child {
  border-bottom: 1px solid #dedeeb;
  padding: 10px;
}
.payments-modal .patients-payments-desc > div:nth-child(2) {
  padding: 10px;
}
.payments-modal .patients-payments-title p.small {
  color: rgba(6, 0, 48, 50%);
}
.payments-modal .grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.custom-input-wrap {
  width: 100%;
}
.custom-input-wrap .ant-input {
  border-radius: 12px;
  font-size: 15px;
  padding: 12.3px 20px;
  height: auto;
  min-height: auto;
  color: #060030;
  font-weight: 400;
  background: var(--white);
  border: 1px solid #d3e3f1;
  display: inline-block;
  font-family: "Montserrat", sans-serif !important;
}
.custom-label-wrap .h6.small,
.custom-label-wrap h6.small {
  font-size: 15px;
}
.custom-input-wrap .ant-select-selector {
  padding: 0 20px 0 17px !important;
  border: 1px solid #d3e3f1 !important;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif !important;
}
.custom-input-wrap .ant-select-single {
  font-size: 16px;
  height: auto;
  width: 100%;
}
.custom-input-wrap .ant-select-single .ant-select-selection-item {
  padding: 10px 18px 10px 0;
  font-size: 15px;
  font-weight: 400;
}
.custom-input-wrap .ant-picker {
  padding: 13px 20px 13px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 15px;
  border-radius: 12px;
  line-height: normal;
  font-weight: 400;
  font-family: "Montserrat", sans-serif !important;
  width: 100%;
  border: 1px solid #d3e3f1 !important;
}
.custom-input-wrap .ant-picker-outlined:hover {
  border-color: transparent;
  background-color: #ffffff;
}
.payments-modal .form-spacing:not(:last-child) {
  margin-bottom: 30px;
}
.payments-modal .amount-wrap {
  padding: 15px 20px;
  border-radius: 12px;
  background: #e7fff6;
  margin: 25px 0 30px;
}
.payments-modal .amount-wrap span {
  font-size: 16px;
}
.payments-modal .amount-wrap h4 {
  color: #05c882;
}
.payments-modal .ant-modal-body::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
.payments-modal .ant-picker .ant-picker-suffix {
  color: #8d8da3;
} */
