.practice-grid-box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 13px;
  margin-bottom: 25px;
}
.practice-grid-item {
  position: relative;
  padding: 15px 15px 15px 20px;
  background-color: var(--white);
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  border-radius: 8px;
}
.practice-grid-item.first-item::after,
.practice-grid-item.second-item::after,
.practice-grid-item.third-item::after,
.practice-grid-item.fourth-item::after,
.practice-grid-item.fifth-item::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  right: -40px;
  top: -4px;
  width: 125px;
  height: 125px;
  z-index: -1;
}
.practice-grid-item.first-item::after {
  background: #f9f9fe;
}
.practice-grid-item.second-item::after {
  background: #fffaea;
}
.practice-grid-item.third-item::after {
  background: #e7eefa;
}
.practice-grid-item.fourth-item::after {
  background: #fff1f7;
}
.practice-grid-item.fifth-item::after {
  background: #fef2e9;
}
.practice-grid-item .p {
  max-width: 50%;
}
.practice-manager-gridbox-wrap {
  display: flex;

  /* display: grid;
  grid-template-columns: 23% 75.5%;
  grid-gap: 25px; */
}
.documents-link-wrap {
  margin-top: 30px;
}
.documents-link-wrap a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding-left: 32px;
}
.documents-link-wrap a:not(:last-child) {
  margin-bottom: 20px;
}

.documents-link-wrap a::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #05c882;
  flex-shrink: 0;
  left: 0;
  top: 4px;
}

.practice-manager-task-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 100%;
  grid-gap: 25px;
  width: 22.52%;
  flex-shrink: 0;
}
.calander-wrap {
  position: relative;
  width: calc(100% - 22.52%);
  margin-left: 25px;
  padding: 20px;
  height: auto;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.practice-manager-bottom-wrap {
  margin-top: 25px;
}
.opportunities-wrap {
  flex: 0 0 22.52%;
  margin-right: 25px;
  height: auto;
}
.single-calendar-wrap .react-calendar {
  width: auto;
  background: white;
  border: none;
  color: #545a63;
  font-family: "Montserrat", sans-serif !important;
}
.single-calendar-wrap .react-calendar__navigation button {
  min-width: auto;
}

.react-calendar__navigation {
  height: auto;
  padding-bottom: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ececfa;
}
.single-calendar-wrap .react-calendar__navigation__label {
  order: 1;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: #060030;
  font-size: 20px;
  font-weight: 600;
}
.single-calendar-wrap .react-calendar__navigation__prev-button {
  order: 2;
  margin-right: 24px;
  padding: 4px;
}
/* .single-calendar-wrap .btn-arrow-wrap:hover svg {
  color: red;
} */

.single-calendar-wrap .react-calendar__navigation__next-button {
  order: 3;
  padding: 4px;
}
.single-calendar-wrap .react-calendar__navigation__prev2-button,
.single-calendar-wrap .react-calendar__navigation__next2-button {
  display: none;
}
.single-calendar-wrap .react-calendar__navigation button:enabled:hover,
.single-calendar-wrap .react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}
.single-calendar-wrap .react-calendar__month-view__days__day--weekend {
  color: #545a63;
}
.single-calendar-wrap .react-calendar__month-view__weekdays {
  font-size: 10px;
}
.single-calendar-wrap abbr[title] {
  text-decoration: none;
  font-weight: 600;
}
.single-calendar-wrap .react-calendar__tile {
  padding: 14px 6.6667px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 30px;
  line-height: normal;
}
.single-calendar-wrap .react-calendar__tile--active {
  background: #5d35e9 !important;
  color: #fff !important;
}

.single-calendar-wrap .react-calendar__tile:enabled:hover,
.single-calendar-wrap .react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 30px;
}

.opportunities-wrap.instant-message-wrap {
  flex: 1 1 100%;
  margin-right: 0;
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.1));
}
.message-wrap {
  width: 340px;
  background: #fff;
  border-radius: 12px 0 0 12px;
  /* filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.1)); */
  padding: 25px;
}
.message-wrap .documents-title-wrap {
  padding-bottom: 20px;
}
.message-wrap .documents-title-wrap p {
  padding-right: 18px;
}
.message-wrap .documents-title-wrap p::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #05c882;
  flex-shrink: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.message-tabs-wrap {
  margin-top: 20px;
  /* padding: 0 25px; */
}

.message-tabs-wrap .ant-tabs {
  font-family: "Montserrat", sans-serif !important;
}
.message-tabs-wrap .ant-tabs-nav {
  border-radius: 4px;
  background: #f8f9fd;
  padding: 3px 5px;
  margin-bottom: 25px;
}
.message-tabs-wrap .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.message-tabs-wrap .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
}
.message-tabs-wrap .ant-tabs .ant-tabs-tab {
  padding: 0;
  font-size: 10px;
  font-weight: 500;
  /* width: 100%; */
}

.message-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
  padding: 6px 23px;
  background-color: transparent;
  color: #060030;
  font-size: 10px;
  text-align: center;
  font-weight: 500;
  text-shadow: none;
  border-radius: 4px;
  width: 100%;
}
.message-tabs-wrap .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  min-width: auto;
  margin-right: 0;
  border-radius: 0px;
  border: none;
  background: transparent;
  width: 100%;
}
/* .message-tabs-wrap .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active{
  color: #fff !important;
  background: #5d35e9 !important;
  border: none;
} */
.message-tabs-wrap .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
  border-radius: 6px;
  background: #5d35e9 !important;
}
.message-tabs-wrap .ant-tabs-ink-bar,
.message-tabs-wrap .ant-tabs-nav::before {
  display: none;
}

.message-tabs-wrap .ant-tabs-tabpane {
  padding: 0;
}
.messages-links-wrap {
  margin: 0 -25px;
  max-height: 330px;
  overflow-y: auto;
  margin-top: -16px;
  position: relative;
}
.messages-links-wrap::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.messages-profile-wrap {
  padding: 16px 25px 0 25px;
  transition: 0.3s all ease;
}
/* .messages-profile-wrap {
  margin-bottom: 13px;
  padding-top: 16px;
} */

.messages-profile-wrap .profile-img-wrap {
  position: relative;
}
.messages-profile-wrap .profile-img-wrap::after {
  content: "";
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #05c882;
  right: 0;
  top: 3px;
}
.messages-profile-wrap .profile-img-wrap {
  width: 35px;
  height: 35px;
  margin-right: 14px;
}
.messages-profile-wrap .profile-img-wrap img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}
.messages-profile-wrap .profile-content-wrap {
  padding-bottom: 16px;
  border-bottom: 1px solid #ececfa;
}
.messages-profile-wrap .time-wrap {
  color: #403c60;
  font-size: 8px;
  letter-spacing: -0.24px;
  display: inline-block;
}
.profile-title-wrap p {
  font-size: 10px;
}
.messages-profile-wrap:hover,
.messages-profile-wrap:focus,
.messages-profile-wrap:active {
  background-color: #f8f9fd;
}
.messages-profile-wrap:hover .profile-content-wrap,
.messages-profile-wrap:focus .profile-content-wrap,
.messages-profile-wrap:active .profile-content-wrap {
  border-bottom: 1px solid transparent;
}
.chatboat-wrap {
  width: calc(100% - 340px);
  background: #f9f9fe;
  padding: 20px;
  border-radius: 0 12px 12px 0;
}
.chatboat-header-wrap {
  margin-bottom: 15px;
}
.chatboat-profile-wrap .profile-img-wrap {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.chatboat-profile-wrap .profile-img-wrap img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}
.chatboat-icons-wrap a {
  background-color: #05c882;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatboat-icons-wrap a.cancel-link {
  background: #fff0f6;
  border: 1px solid #ef0064;
}
.chatboat-icons-wrap a.cancel-link:hover {
  background: #fff0f6;
}
.chatboat-icons-wrap a:not(:last-child) {
  margin-right: 5px;
}
.chatboat-icons-wrap a:hover {
  background-color: #05c882;
}
.chat.outgoing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chatbot-container {
  height: 385px;
  background-color: #ececfa;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.msg-sent-input-wrap .ant-input {
  margin: 0 15px 0 10px;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 10px;
}
.msg-sent-input-wrap img {
  max-width: unset;
  height: auto;
}
.msg-sent-input-wrap .send-img {
  margin-left: 12px;
}
.chatbot-body {
  overflow-y: auto;
  max-height: 300px;
  margin-right: -20px;
  padding-right: 20px;
}
.chatbot-body::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.chatbot-body .space-bottom {
  margin-bottom: 15px;
}

.chatbot-container .react-chatbot-kit-chat-container {
  width: 100%;
}
.incoming-msg-wrap .avatar-img-wrap {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  margin-right: 7px;
}
.incoming-msg-wrap .avatar-img-wrap img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}
.incoming-msg-body {
  max-width: 162px;
  min-width: 162px;
  height: auto;
}
.chatbot-body .text-body {
  word-break: break-word;
  font-size: 10px;
  padding: 8px 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 0 10px 10px 10px;
  margin-bottom: 0;
}
.chatbot-body p.label-wrap {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 20px;
}

.incoming-msg-body .text-body {
  background-color: #fff;
  color: #5a5959 !important;
}
.outgoing-msg-body .text-body {
  background-color: #5d35e9;
  color: #fff !important;
}
.chatbot-body .time-wrap {
  font-size: 8px;
  color: #403c60;
  font-weight: 400;
  margin-top: 6px;
}
.outgoing-msg-body {
  max-width: 212px;
  min-width: 212px;
  height: auto;
}
.chatbot-container .react-chatbot-kit-chat-bot-message {
  margin-left: unset;
  width: 162px;
  height: auto;
  background-color: #fff !important;
  word-break: break-word;
  color: #5a5959;
  font-size: 10px;
  font-weight: 500;
  border-radius: 0 10px 10px 10px;
  display: flex;
  align-items: center;
}
.chatbot-container .react-chatbot-kit-user-avatar-container,
.chatbot-container .react-chatbot-kit-chat-header,
.chatboat-wrap .react-chatbot-kit-user-chat-message-arrow,
.chatboat-wrap .react-chatbot-kit-chat-bot-message-arrow {
  display: none;
}
.chatboat-wrap .react-chatbot-kit-chat-message-container {
  background-color: #ececfa;
  height: inherit;
  overflow: auto;
  padding: 0 20px;
  overflow-y: auto;
  max-height: 360px;
}
.chatboat-wrap .react-chatbot-kit-chat-message-container::-webkit-scrollbar,
.bigcalendar .rbc-time-content::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.chatbot-container .react-chatbot-kit-user-chat-message {
  width: 212px;
  height: auto;
  word-break: break-word;
  background-color: #5d35e9;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
  display: flex;
  align-items: center;
}
.chatbot-container .react-chatbot-kit-chat-inner-container {
  height: 385px;
  background-color: #ececfa;
  border-radius: 3px;
  border-radius: 5px;
}
.chatbot-container .react-chatbot-kit-chat-btn-send {
  min-width: 80px;
  width: auto;
}

/* Big Calendar Style Start  */
.bigcalendar {
  font-family: "Montserrat", sans-serif !important;
}
.bigcalendar .rbc-toolbar > .rbc-btn-group:last-child {
  display: none;
}
.calendar-toolbar {
  position: absolute;
  right: 20px;
  top: 20px;
}
.bigcalendar .rbc-toolbar .rbc-toolbar-label {
  text-align: left;
  padding: 0 30px;
}
.bigcalendar .weekname-wrap {
  color: #060030;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.54px;
}
.calander-wrap select.formcontrol {
  width: 121px;
  height: 35px;
  border: 1px solid #d6d6e7;
  border-radius: 22px;
  padding: 0px 14px;
  color: #585861;
  font-size: 13px;
  font-weight: 500;
  appearance: none !important;
  position: relative;
  background-image: url("data:image/svg+xml,%0A%3Csvg width=%2714%27 height=%279%27 viewBox=%270 0 14 9%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M6.38407 8.77965L0.216529 2.612C0.0737664 2.46935 -0.00488281 2.27893 -0.00488281 2.07588C-0.00488281 1.87284 0.0737664 1.68241 0.216529 1.53976L0.670621 1.08556C0.966513 0.790003 1.44742 0.790003 1.74286 1.08556L6.92199 6.26468L12.1069 1.07981C12.2496 0.93716 12.4399 0.858398 12.6429 0.858398C12.846 0.858398 13.0363 0.93716 13.1792 1.07981L13.6332 1.53402C13.776 1.67678 13.8546 1.86709 13.8546 2.07014C13.8546 2.27318 13.776 2.46361 13.6332 2.60626L7.46003 8.77965C7.31681 8.92264 7.1256 9.00118 6.92233 9.00073C6.71827 9.00118 6.52717 8.92264 6.38407 8.77965Z%27 fill=%27black%27/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: right 14px center;
}
.bigcalendar .rbc-timeslot-group {
  min-height: 55px;
}
.bigcalendar .rbc-time-view .rbc-allday-cell {
  display: none;
}
.bigcalendar .rbc-header {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bigcalendar .rbc-time-content {
  border-top: 1px solid #d3e3f1;
  overflow-y: auto;
  max-height: 600px;
}
.bigcalendar .rbc-toolbar {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  margin-top: 7px;
  color: #060030;
  letter-spacing: -0.36px;
  width: max-content;
}
.bigcalendar .rbc-time-header {
  background: #fafafd;
  margin-right: 2px !important;
}
.bigcalendar .rbc-time-header.rbc-overflowing {
  border-right: none;
}
.bigcalendar .rbc-time-content > .rbc-time-gutter {
  width: 155px;
}
.bigcalendar .rbc-label {
  width: 155px !important;
  max-width: 155px !important;
  min-width: 155px !important;
}
.bigcalendar .rbc-time-view {
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
}
.bigcalendar .rbc-time-view .rbc-row {
  min-height: 50px;
}
.bigcalendar .rbc-day-slot .rbc-events-container {
  margin-right: 0;
}
.bigcalendar .rbc-day-slot .rbc-event {
  position: relative;
  border: none;
  background: transparent;
  width: 100% !important;
}
.bigcalendar .rbc-day-slot .rbc-event::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  left: 0;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow::after {
  background-color: #ffc200;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-blue::after {
  background-color: #005eff;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-pink::after {
  background-color: #ff006d;
}

.bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow {
  background-color: #fffaea;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-blue {
  background-color: #e7eefa;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-pink {
  background-color: #fff1f7;
}
.bigcalendar .empty-shifts .event-timestamp {
  display: none;
}
.bigcalendar .rbc-btn-group button:first-child {
  display: none;
}
.bigcalendar .rbc-btn-group button:nth-child(2),
.bigcalendar .rbc-btn-group button:nth-child(3) {
  position: absolute;
  border: none;
  font-size: 0px;
  width: 15px;
  height: 15px;
  background-size: contain;
}
.bigcalendar .rbc-btn-group button:nth-child(2) {
  background: url("../../../assets/images/icons/arrow2.svg") no-repeat center
    center;
  left: 0;
  top: 0;
}
.bigcalendar .rbc-btn-group button:nth-child(3) {
  background: url("../../../assets/images/icons/arrow2.svg") no-repeat center
    center;
  right: 0;
  top: 0;
  transform: rotate(-180deg);
}
.bigcalendar .empty-shifts {
  position: absolute;
  top: 0 !important;
  left: -155px !important;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-blue.doctor1,
.bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow.doctor2,
.bigcalendar .rbc-day-slot .rbc-event.timeslot-pink.doctor3 {
  position: absolute;
  left: -155px !important;
  width: 100% !important;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-blue.doctor1 {
  top: 55px !important;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow.doctor2 {
  top: 110px !important;
}
.bigcalendar .rbc-day-slot .rbc-event.timeslot-pink.doctor3 {
  top: 165px !important;
}
.bigcalendar .timeslot-blue.event-wrap {
  left: 100% !important;
}
.bigcalendar .timeslot-yellow.event-wrap {
  top: 4.1% !important;
}
.bigcalendar .timeslot-pink.event-wrap {
  left: 100% !important;
  top: 4.1% !important;
}
.bigcalendar .schedule-wrap {
  z-index: 1;
}
.bigcalendar .schedule-wrap .eventImage {
  display: none;
}
.bigcalendar .rbc-day-slot .rbc-event,
.bigcalendar .rbc-day-slot .rbc-background-event {
  height: 55px !important;
  max-height: 55px !important;
  min-height: 55px !important;
  border-radius: 0px;
}
.bigcalendar .rbc-day-slot .rbc-time-slot {
  border-top: 1px solid transparent;
}
.bigcalendar .rbc-time-gutter .rbc-time-slot {
  display: none;
}
.bigcalendar .rbc-day-slot .rbc-event-label {
  display: none;
}
.bigcalendar .event-list {
  height: inherit;
}
.bigcalendar .event-title {
  font-size: 12px;
}
.bigcalendar .event-timestamp {
  color: #221e49;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: -0.24px;
}
.bigcalendar .eventImage {
  flex-shrink: 0;
  margin-right: 12px;
  width: 33px;
  height: 33px;
}
.bigcalendar .eventImage img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}
.message-tabs-wrap .ant-tabs-nav .ant-tabs-nav-operations {
  display: none;
}
.chatbotbody-container-wrap {
  display: none;
}
.go-back-btn {
  display: none;
  width: 25px;
  height: 25px;
  height: auto;
  border: none;
  box-shadow: none;
  background: transparent;
  outline: none;
  position: absolute;
  left: 0;
}
/* Big Calendar Style  End */

/* Responsive Design Start */
@media only screen and (max-width: 1799px) {
  .bigcalendar .rbc-time-content > .rbc-time-gutter {
    width: 125px;
  }
  .bigcalendar .rbc-label {
    width: 125px !important;
    max-width: 125px !important;
    min-width: 125px !important;
  }
  .bigcalendar .empty-shifts {
    left: -125px !important;
  }
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-blue.doctor1,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow.doctor2,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-pink.doctor3 {
    left: -125px !important;
  }
  .message-wrap {
    padding: 20px;
  }
  .messages-links-wrap {
    margin: 0 -20px;
  }
  .messages-profile-wrap {
    padding: 16px 20px 0 20px;
  }
  .message-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
    padding: 6px 20px;
  }
  .chatbotbody-container-wrap {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1599px) {
  .practice-manager-bottom-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .opportunities-wrap {
    flex: 0 0 49%;
    margin-right: 0px;
  }
  .opportunities-wrap.instant-message-wrap {
    margin-top: 20px;
  }
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-blue.doctor1,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow.doctor2,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-pink.doctor3 {
    width: 117% !important;
  }
}
@media only screen and (max-width: 1439px) {
  .practice-manager-gridbox-wrap {
    flex-wrap: wrap;
  }
  .practice-manager-task-wrapper {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 20px; */
    width: 100%;
  }
  .calander-wrap {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-blue.doctor1,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow.doctor2,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-pink.doctor3 {
    width: 86% !important;
  }
  .bigcalendar .rbc-day-slot .rbc-event.empty-shifts {
    width: 86% !important;
  }
  .practice-grid-box {
    grid-template-columns: repeat(6, 1fr);
  }
  .documents-link-wrap a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1365px) {
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-blue.doctor1,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow.doctor2,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-pink.doctor3 {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1199px) {
  .practice-grid-box {
    grid-template-columns: repeat(4, 1fr);
  }
  .bigcalendar-wrap {
    overflow: auto;
  }
  .bigcalendar .rbc-time-view {
    min-width: 1200px;
    max-width: 1200px;
  }
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-blue.doctor1,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow.doctor2,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-pink.doctor3 {
    width: 104% !important;
  }
  .bigcalendar .rbc-day-slot .rbc-event.empty-shifts {
    width: 100% !important;
  }
  .bigcalendar .empty-shifts {
    left: -155px !important;
  }
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-blue.doctor1,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-yellow.doctor2,
  .bigcalendar .rbc-day-slot .rbc-event.timeslot-pink.doctor3 {
    left: -155px !important;
  }
  .bigcalendar .rbc-time-content > .rbc-time-gutter {
    width: 155px;
  }
  .bigcalendar .rbc-label {
    width: 155px !important;
    max-width: 155px !important;
    min-width: 155px !important;
  }
  .documents-link-wrap {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .chatboat-wrap,
  .message-wrap {
    width: 100%;
  }
  .opportunities-wrap.instant-message-wrap {
    flex-wrap: wrap;
  }
  .chatbotbody-container-wrap {
    display: block;
    position: absolute;
    top: 66%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    background: #fff;
    z-index: 9;
  }
  .chatboat-wrap {
    display: none;
  }
  .go-back-btn {
    display: block;
  }
  .chatboat-profile-wrap {
    margin-left: 40px;
  }
  .message-wrap {
    border-radius: 12px;
  }
  /* .message-tabs-wrap{
    padding: 15px;
  } */
}
@media only screen and (max-width: 767px) {
  .practice-grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .practice-manager-task-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .opportunities-wrap {
    flex: 0 0 100%;
  }
  .chatbot-body .text-body {
    font-size: 8px;
    padding: 6px 10px;
    line-height: 14px;
  }
  .incoming-msg-body {
    max-width: 140px;
    min-width: 140px;
  }
  .outgoing-msg-body {
    max-width: 180px;
    min-width: 180px;
  }
  .practice-manager-task-wrapper {
    grid-gap: 20px;
  }
  .practice-grid-box {
    margin-bottom: 20px;
  }
  .message-tabs-wrap .ant-tabs-nav {
    margin-bottom: 15px;
  }
  .message-tabs-wrap .ant-tabs-tabpane {
    padding-top: 10px !important;
  }
}

@media only screen and (max-width: 575px) {
  .practice-grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .chatboat-profile-wrap .profile-img-wrap {
    width: 25px;
    height: 25px;
  }
  .messages-profile-wrap .profile-img-wrap {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .bigcalendar .rbc-toolbar .rbc-toolbar-label {
    padding: 0 15px;
  }
  .bigcalendar .rbc-toolbar {
    font-size: 10px;
    margin-top: 12px;
  }
  .bigcalendar .rbc-btn-group button:nth-child(2),
  .bigcalendar .rbc-btn-group button:nth-child(3) {
    width: 10px;
    height: 10px;
  }
  .calander-wrap select.formcontrol {
    width: 100px;
    height: 30px;
    padding: 0px 14px;
    font-size: 11px;
  }
  .chatbot-body {
    margin-right: -15px;
    padding-right: 15px;
  }
  .chatboat-profile-wrap {
    margin-left: 30px;
  }
  .chatbot-container {
    padding: 15px;
  }
  .practice-grid-item .p{
    font-size: 12px;
  }
}
@media only screen and (max-width: 414px) {
  .practice-grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .documents-link-wrap a {
    font-size: 12px;
  }
  .go-back-btn {
    width: 20px;
    height: 20px;
  }
  .message-tabs-wrap .ant-tabs-tab .ant-tabs-tab-btn {
    padding: 6px 11px;
  }
  .incoming-msg-body {
    max-width: 120px;
    min-width: 120px;
  }
  .outgoing-msg-body {
    max-width: 140px;
    min-width: 140px;
  }
  .msg-sent-input-wrap .send-img {
    margin-left: 5px;
  }
  .msg-sent-input-wrap .ant-input {
    margin: 0 5px 0 5px;
    padding: 8px;
    font-size: 9px;
}
  .msg-sent-input-wrap img {
    width: 15px;
    height: 15px;
  }
}
/* Responsive Design End */
