.patient-detail {
  font-family: "Montserrat", sans-serif !important;
  margin-top: 25px;
}
.patient-detail-cardbox {
  display: grid;
  grid-template-columns: 39% 39% 19%;
  grid-gap: 25px;
}
.patient-detail .page-title {
  margin-bottom: 30px;
}
.patient-detail-cardbox-container-1 {
  display: grid;
  grid-template-columns: 39.7% 28.8% 28.8%;
  grid-gap: 25px;
}

.patient-detail-card {
  padding: 25px;
  height: 100%;
  overflow: hidden;
}
/* .patient-detail-cardbox-item1 .card-spacing .patient-detail-card {
  overflow: hidden;
} */

.patient-detail-card.bg {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.patient-header-wrap {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.patient-header-wrap::before {
  content: "";
  position: absolute;
  left: -7%;
  bottom: 30px;
  width: 32px;
  height: 67px;
  background: url("../../../assets/images/cover/ellipse.png") no-repeat;
  background-size: cover;
  z-index: -1;
}
.patient-profile-img-wrap img {
  width: 132px;
  height: 132px;
  border-radius: 10px;
  object-fit: cover;
}

.patient-header-icon-wrap {
  width: 31px;
  height: 31px;
  background-color: #ebfbf5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  flex-shrink: 0;
}
.patient-header-content-wrap {
  padding: 0 20px 0 30px;
}

.patient-summary-wrap:not(:last-child) {
  margin-right: 25px;
}
.reason-visit-wrap {
  border-radius: 12px;
  border: 1.264px solid #f2f2fa;
  background: #fafafd;
  padding: 20px;
  margin-top: 25px;
}
.patient-bottom-wrap {
  position: relative;
  padding-top: 30px;
}
.patient-detail-card.patient-detail-summary-wrap {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.patient-detail-card.patient-detail-summary-wrap::before,
.patient-detail-card.patient-detail-summary-wrap::after {
  content: "";
  position: absolute;
  background-size: cover;
  z-index: -1;
}
.patient-detail-card.patient-detail-summary-wrap::before {
  background: url("../../../assets/images/cover/half-circle.png") no-repeat;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 14px;
}
.patient-detail-card.patient-detail-summary-wrap::after {
  background: url("../../../assets/images/cover/shape.png") no-repeat;
  bottom: 0;
  right: 0;
  width: 127px;
  height: 118px;
}

.reason-visit-wrap p {
  color: #626282;
  font-size: 15px;
  line-height: 1.6;
}
.patient-header-wrap .custom_btn:not(:last-child) {
  margin-bottom: 20px;
}
.patient-block-wrap span {
  font-size: 15px;
  margin-bottom: 5px;
}
.patient-block-wrap:not(:last-child) {
  margin-bottom: 16px;
}
.patient-bottom-wrap > div {
  width: calc(100% / 2);
}
.patient-left-description::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 134px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.patient-right-description {
  padding-left: 5rem;
}
.btn.transaparent-btn {
  color: #060030 !important;
  background: transparent !important;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  flex-shrink: 0;
  border-color: transparent !important;
}
.documents-title-wrap {
  border-bottom: 1px solid #ececfa;
  padding-bottom: 18px;
}
.documents-title-wrap h4 {
  margin-right: 10px;
}
.documents-link-wrap {
  margin-top: 30px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 25px;
  margin-right: -25px;
}
.documents-link-wrap a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding-left: 32px;
}
/* .documents-link-wrap a:not(:last-child) {
  margin-bottom: 20px;
}
.documents-link-wrap a:hover span,
.documents-link-wrap a:focus span,
.documents-link-wrap a:active span {
  text-decoration: underline;
}
.documents-link-wrap a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #05c882;
  flex-shrink: 0;
  left: 0;
  top: 4px;
}
.documents-link-wrap a svg {
  color: #b6c7d6;
  flex-shrink: 0;
}

.documents-link-wrap a:hover svg,
.documents-link-wrap a:focus svg,
.documents-link-wrap a:active svg {
  color: #05c882;
}
.patient-payments-details-wrap {
  margin-top: 30px;
  max-height: 360px;
  overflow-y: auto;
  margin-right: -25px;
  padding-right: 30px;
}

.consultation-wrap .icon-wrap {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.consultation-wrap .icon-wrap.success {
  background: #ecfff8;
}
.consultation-wrap .icon-wrap.cancel {
  background: #fff0f6;
}
.consultation-wrap h6.small {
  line-height: 1.3;
}
.patient-payments-details-item:not(:last-child) {
  margin-bottom: 25px;
}
.patient-payments-details-item .number {
  color: #6e6e77;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1%;
}
.amount-input-wrap {
  margin-top: 3.4rem;
}

.amount-input-wrap .form-control {
  padding: 18px 120px 18px 16px;
  color: var(--manatee);
  border-radius: 13.996px;
  border: 1.166px solid #d3e3f1;
  background: #fff;
  font-weight: 500;
  font-size: 18px;
}

.amount-input-wrap .form-control:focus {
  border-color: rgba(141, 141, 163, 0.5);
  box-shadow: none !important;
}
.amount-input-wrap input.form-control::placeholder {
  color: #8d8da3;
}

.amount-input-wrap .custom_btn {
  border-radius: 6.998px;
  font-size: 11.663px;
  font-weight: 600;
  letter-spacing: -0.35px;
  padding: 8px 15px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.patient-detail-cardbox-container-2 {
  display: grid;
  grid-template-columns: 70.2% 28.8%;
  grid-gap: 25px;
  margin-top: 25px;
}
.opportunities-wrap {
  margin-top: 25px;
}
.patients-tasks-wrap .documents-link-wrap a:hover span,
.patients-tasks-wrap .documents-link-wrap a:focus span,
.patients-tasks-wrap .documents-link-wrap a:active span {
  text-decoration: none;
}
.amount-input-wrap .custom_btn,
.opportunities-items .custom_btn {
  border-radius: 6.998px;
  font-size: 11.663px;
  font-weight: 600;
  letter-spacing: -0.35px;
  padding: 8px 12px;
}
.opportunities-items-wrap {
  margin-top: 25px;
}
.opportunities-items:not(:last-child) {
  margin-bottom: 20px;
}
.avatar-img-wrap {
  margin-right: 17px;
}
.avatar-img-wrap img {
  object-fit: cover;
  border-radius: 50%;
  width: 47.247px;
  height: 47.254px;
}
.visit-history-content-wrap {
  border-radius: 12px;
  border: 1.166px solid #dedeeb;
  background: #fafafd;
  padding: 10px 3.6rem 10px 20px;
  margin-right: 12px;
}

.visit-history-content-wrap p {
  color: var(--manatee);
  line-height: 1.9;
}
.visit-history-content-wrap li {
  position: relative;
  color: var(--manatee);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.9;
  padding-inline-start: 25px;
}

.visit-history-content-wrap li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  font-style: normal;
  background: url("../../../assets/images/icons/tick.svg") no-repeat;
  width: 18px;
  height: 18px;
  background-size: cover;
}
.custom_btn.save-note {
  padding: 9px 12px;
  font-size: 10px;
  letter-spacing: -0.2px;
}
.custom-accordion-wrapper {
  margin-top: 4.2rem;
  max-height: 300px;
  overflow-y: auto;
  margin-right: -25px;
  padding-right: 30px;
}
.patient-payments-details-wrap::-webkit-scrollbar,
.custom-accordion-wrapper::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
.custom-accordion-wrapper .accordion-item {
  border-color: #ececfa;
  position: relative;
  padding-inline-start: 32px;
  border-bottom: 0;
}

.custom-accordion-wrapper .accordion-item:not(:last-child) {
  margin-bottom: 30px;
}
.custom-accordion-wrapper .accordion-button {
  padding: 0 0 12px 0;
  color: #060030;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  font-weight: 600;
  letter-spacing: -0.16px;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #ececfa;
}
.custom-accordion-wrapper .accordion-button::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 7px;
  background-color: #05c882;
  width: 12px;
  height: 12px;
  z-index: 1;
  border-radius: 50%;
}
.custom-accordion-wrapper .label-wrap {
  display: inline-block;
  color: #05c882;
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
  border-radius: 17px;
  background: #ebfbf5;
  padding: 2px 13px;
  text-align: center;
  flex-shrink: 0;
  margin-left: 20px;
}
.custom-accordion-wrapper .accordion-button::after {
  content: "Expand";
  width: auto;
  height: auto;
  background-image: none;
  color: #05c882;
  text-align: right;
  font-size: 14px;
  transform: none;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
}
.custom-accordion-wrapper .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  content: "Reduce";
}
.custom-accordion-wrapper .accordion-body {
  border-radius: 12px;
  border: 1.166px solid #dedeeb;
  background: #fafafd;
  margin-bottom: 15px;
  color: #8d8da3;
  font-size: 13px;
  height: 100%;
  font-weight: 500;
  line-height: 1.7;
  padding: 10px 15px;
}
.custom-accordion-wrapper .accordion-button:not(.collapsed) {
  border-bottom: none;
}
.custom-accordion-wrapper .accordion-button p {
  line-height: 1.9;
}
.custom-accordion-wrapper .accordion-button:not(.collapsed) p {
  display: none;
}
.custom-accordion-wrapper .accordion-button:not(.collapsed) .label-wrap {
  display: none;
} */

/* New Style Start */
.patient-table-wrap .ant-table-thead {
  border: none;
}
.patient-table-wrap .ant-table-wrapper table {
  border-radius: 0px;
  border: none;
  font-family: "Montserrat", sans-serif !important;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececfa;
}
.patient-table-wrap .ant-table-wrapper .ant-table-thead > tr > th {
  background: #f4f4fc;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
  color: #626276;
}
.patient-table-wrap .ant-table-wrapper .ant-table-tbody > tr > td {
  font-weight: 500;
  color: var(--black);
  font-size: 16px;
  border-bottom: none;
  padding: 6.5px 16px;
  word-break: break-word;
}
/* .patient-table-wrap .ant-table-wrapper .ant-table-tbody > tr > td:first-child {
  min-width: 35px;
  max-width: 35px;
} */

.documents-title-wrap.allergies-wrap {
  border-bottom: none;
}

.patient-table-wrap
  .ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
.patient-table-wrap
  .ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none;
}
.patient-table-wrap
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px;
  background: #f4f4fc;
}
.patient-table-wrap
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0px;
}
.documents-tabs-wrap .patient-table-wrap .icon-wrap {
  width: 34px;
  height: 34px;
  background-color: #ecfff8;
  margin-right: 0px;
}
.intolerance-wrap h4 {
  margin: 25px 0;
}
.intolerance-wrap .patient-table-wrap .ant-table-wrapper .ant-table-thead {
  display: none;
}
.intolerance-wrap .patient-table-wrap .ant-table-wrapper table {
  border-top: 1px solid #ececfa;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: none;
}

.patient-detail-cardbox-item1 > .patient-detail-card:nth-child(2) {
  margin-top: 25px;
}

.documents-tabs-wrap .ant-tabs .ant-tabs-tab {
  border-radius: 6px;
  border: 1px solid #e5eef7;
  padding: 16px 20px;
  min-width: 259px;
  color: #25204a;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif !important;
  background: #fff;
}
.documents-tabs-wrap .ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  border-color: #05c882;
  background: #ebfbf5;
}
.documents-tabs-wrap .ant-tabs-ink-bar.ant-tabs-ink-bar-animated,
.documents-tabs-wrap .ant-tabs-top > .ant-tabs-nav::before {
  display: none;
}
.documents-tabs-wrap
  .ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #25204a;
}
.documents-tabs-wrap .icon-wrap {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  border-color: transparent;
}

.documents-tabs-wrap .ant-tabs .ant-tabs-tab .icon-wrap.purple {
  background-color: #eae8ff;
  color: #5d35e9;
}

.documents-tabs-wrap .ant-tabs .ant-tabs-tab .icon-wrap.pink {
  background-color: #ffe5f0;
  color: #ef0064;
}

.documents-tabs-wrap .ant-tabs .ant-tabs-tab .icon-wrap.blue {
  background-color: #f1f6ff;
  color: #2676ff;
}

.documents-tabs-wrap .ant-tabs .ant-tabs-tab .icon-wrap.yellow {
  background-color: #fffaed;
  color: #f6ba06;
}

.documents-tabs-wrap .ant-tabs .ant-tabs-tab .icon-wrap.green {
  background-color: #ebfbf5;
  color: #05c882;
}

.documents-tabs-wrap .ant-tabs .ant-tabs-tab .icon-wrap.red {
  background-color: #ffe5e5;
  color: #ff2a2a;
}
.documents-tabs-wrap .ant-tabs-tab.ant-tabs-tab-active .icon-wrap,
.documents-tabs-wrap .ant-tabs-tab.ant-tabs-tab-active .icon-wrap {
  background-color: #05c882;
  color: #fff;
}
.ant-tabs-dropdown .ant-tabs-dropdown-menu {
  padding: 0;
}
.ant-tabs-dropdown .ant-tabs-dropdown-menu-item {
  padding: 10px;
  color: #25204a;
  font-size: 16px;
  font-weight: 600;
}

.ant-tabs-dropdown .ant-tabs-dropdown-menu-item .icon-wrap {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebfbf5;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  color: #05c882;
  border-color: transparent;
}

/* .documents-tabs-wrap .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 16px;
} */
.documents-tabs-wrap .ant-tabs-nav-list > .ant-tabs-tab:first-child {
  margin-right: 16px !important;
}

.documents-link-wrap a::before {
  display: none;
}
.documents-link-wrap a {
  padding-left: 0;
}

.documents-link-wrap > div {
  position: relative;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.documents-link-wrap > div:not(:last-child) {
  margin-bottom: 18px;
}
.documents-link-wrap ol {
  margin-bottom: 0px;
  padding: 0;
  /* max-height: 200px;
  overflow-y: auto;
  padding-right: 30px;
  margin-right: -25px; */
}
.documents-link-wrap ol li {
  display: flex;
}

.documents-link-wrap ol li .number-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05c882;
  color: var(--white);
  font-size: 10px;
  font-weight: 600;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  border-radius: 50%;
  margin-top: 4px;
  flex-shrink: 0;
}
.documents-link-wrap ol li:not(:last-child) {
  margin-bottom: 18px;
}
.documents-link-wrap ol li .text-wrap {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-right: 5rem;
}

.patient-detail-cardbox-item2 > div:not(:last-child),
.patient-detail-cardbox-item3 > div:not(:last-child) {
  margin-bottom: 25px;
}

.documents-title-wrap .h4 svg {
  margin-left: 10px;
}
.documents-tabs-wrap .icon-wrap {
  background-color: #ebfbf5;
}
.details-label-wrap {
  min-width: 100px;
}
.details-value-wrap {
  min-width: 80px;
}
.health-label-wrap {
  max-width: 138px;
  min-width: 138px;
}
.transparent-link {
  border-radius: 6.282px;
  border: 1.047px solid #05c882;
  background: #fff;
  color: #05c882;
  padding: 6px 14px;
  font-size: 10.469px;
  font-weight: 600;
  letter-spacing: -0.314px;
  text-align: center;
  flex-shrink: 0;
  line-height: normal;
}
.transparent-link:hover,
.transparent-link:focus,
.transparent-link:active {
  background: #05c882;
  color: #fff;
  border-color: #05c882;
}
.patient-detail-cardbox-item2 .patient-table-wrap table .ant-table-thead {
  display: none;
}
.action-wrap .transparent-link {
  margin-right: 35px;
}
.patient-detail-cardbox-item2 .patient-table-wrap table .link-wrap a {
  text-decoration: underline !important;
}
.patient-detail-cardbox-item2 .patient-table-wrap table .link-wrap a:hover {
  text-decoration: none !important;
}

.patient-detail-cardbox-item1 .patient-detail-card-profile {
  /* height: 100%; */
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
}
/* .patient-table-wrap.documents-link-wrap .ant-table-content {
  overflow-x: auto;
} */
.patient-table-wrap.documents-link-wrap table,
.patient-table-wrap.symptoms-table-wrap table {
  border-bottom: none;
  max-width: 590px;
  min-width: 590px;
}
.patient-table-wrap.documents-link-wrap .ant-table-content,
.patient-table-wrap.symptoms-table-wrap .ant-table-content {
  max-height: 280px;
  overflow-y: auto;
}

.patient-table-wrap .ant-table-wrapper .ant-table-tbody > tr > td:last-child {
  max-width: 136px;
  min-width: 136px;
}
.patient-table-wrap.symptoms-table-wrap
  .ant-table-wrapper
  .ant-table-tbody
  > tr
  > td:last-child {
  min-width: 80px;
  max-width: 80px;
}

/* .patient-table-wrap.symptoms-table-wrap table {
  max-width: 590px;
  min-width: 590px;
} */
/* .patient-table-wrap.symptoms-table-wrap .ant-table-content {
  max-height: 250px;
  overflow-x: auto;
} */

.patient-table-wrap.documents-link-wrap .ant-table-content::-webkit-scrollbar,
.patient-table-wrap.symptoms-table-wrap .ant-table-content::-webkit-scrollbar,
.documents-link-wrap::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Modal Design */

.baseline-modal.ant-modal {
  width: 1222px !important;
  font-family: "Montserrat", sans-serif !important;
}
.baseline-modal.ant-modal .ant-modal-content {
  padding: 0;
  border-radius: 18px;
}

.baseline-modal.ant-modal .ant-modal-header {
  background: #f5f5fd;
  padding: 19px 25px;
  border-bottom: 1px solid #b6c9db;
  border-radius: 18px 18px 0 0;
  margin-bottom: 0px;
}
.baseline-modal.ant-modal .ant-modal-header .ant-modal-title {
  color: var(--stratos);
  font-weight: 600;
  font-size: 24px;
}
.baseline-modal.ant-modal .ant-modal-close {
  color: rgba(0, 0, 0, 1);
  top: 28px;
}
.baseline-modal.ant-modal .ant-modal-footer > button:first-child {
  display: none;
}
.baseline-modal.ant-modal .ant-modal-footer {
  padding: 0 3.6rem 4.3rem 25px;
  margin-top: 0;
}
.baseline-modal.ant-modal .ant-modal-footer > .ant-btn + .ant-btn {
  margin-inline-start: 0px;
  width: 100%;
  background-color: #05c882;
  border-radius: 30px;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 700;
  height: auto;
  padding: 9px;
}
.baseline-modal.ant-modal .ant-select .ant-select-arrow {
  right: 20px;
}
.baseline-modal.ant-modal .ant-modal-footer > .ant-btn:hover {
  background-color: #04ad70;
}

.baseline-modal.ant-modal .ant-modal-body {
  padding: 25px 25px 40px;
  /* max-height: 700px;
  overflow-y: auto; */
  font-family: "Montserrat", sans-serif !important;
}
.baseline-modal.ant-modal .ant-modal-body::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
.baseline-form-gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4.7rem;
}
.baseline-form-gridbox .title-wrap {
  font-size: 17px;
}
.baseline-form-gridbox .custom-label-wrap {
  width: 152px;
  margin-right: 35px;
  flex-shrink: 0;
}
.physical-measurements-wrap {
  margin-bottom: 5rem;
}
.form-content-wrap {
  display: flex;
  align-items: center;
}
.custom-input-wrap {
  width: 100%;
}
.custom-input-wrap .ant-input {
  border-radius: 12px;
  font-size: 16px;
  padding: 18px;
  height: auto;
  min-height: auto;
  color: #060030;
  font-weight: 400;
  background: var(--white);
  border: 1px solid var(--link-water);
  display: inline-block;
}

.custom-input-wrap .ant-select-selector {
  padding: 0 20px 0 17px !important;
  border: 1px solid var(--link-water) !important;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif !important;
}
.custom-input-wrap .ant-select-single {
  font-size: 16px;
  height: auto;
  width: 100%;
}
.custom-input-wrap .ant-select-single .ant-select-selection-item {
  padding: 16px 18px 16px 0;
  font-size: 16px;
}
.custom-input-wrap.grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
}
.form-spacing:not(:last-child) {
  margin-bottom: 20px;
}
.checkbox-wrapper {
  margin-top: 40px;
}
.ant-tabs-nav-operations .ant-tabs-nav-more {
  flex-shrink: 0;
}
.ant-tabs-nav-operations .ant-tabs-nav-more img {
  width: 31px;
  height: auto;
}
/* New Style End */

/* Responsive media query */
@media only screen and (max-width: 1799px) {
  .patient-profile-img-wrap img {
    width: 110px;
    height: 110px;
  }

  .patient-header-content-wrap {
    padding: 0 20px 0 20px;
  }

  .patient-summary-wrap:not(:last-child) {
    margin-right: 12px;
  }
  .patient-header-content-wrap h6 {
    font-size: 13px;
  }
  .patient-header-wrap .custom_btn {
    padding: 10px 16px;
    font-size: 12px;
  }
  .patient-detail-card {
    padding: 20px;
  }

  .documents-link-wrap {
    padding-right: 20px;
    margin-right: -20px;
  }
  .patient-payments-details-wrap {
    margin-right: -20px;
    padding-right: 20px;
  }
  .reason-visit-wrap p {
    font-size: 13px;
  }
  .documents-title-wrap {
    padding-bottom: 15px;
  }
  .documents-link-wrap a {
    font-size: 15px;
    /* padding-left: 26px; */
  }
  .patient-bottom-wrap h6,
  .patient-block-wrap span {
    font-size: 13px;
  }
  .custom-accordion-wrapper {
    margin-right: -20px;
    padding-right: 20px;
  }
  /* .patient-table-wrap.documents-link-wrap .ant-table-content {
    overflow-x: auto;
  } */
  .patient-table-wrap.documents-link-wrap table {
    max-width: 650px;
    min-width: 650px;
  }
  .documents-tabs-wrap div#rc-tabs-1-panel-1,
  .documents-tabs-wrap #rc-tabs-1-panel-2 {
    padding: 0px;
  }
}

@media only screen and (max-width: 1599px) {
  .patient-detail-cardbox {
    display: unset;
    flex-wrap: wrap;
    grid-gap: 0px;
    grid-template-columns: unset;
  }
  .patient-table-wrap.symptoms-table-wrap table {
    border-bottom: none;
    max-width: 550px;
    min-width: 550px;
  }
  /* .patient-table-wrap.documents-link-wrap table {
    max-width: 540px;
    min-width: 540px;
  } */
  /* .patient-detail-cardbox-item1, */
  .patient-detail-cardbox-item2 {
    display: grid !important;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .patient-detail-cardbox-item1 {
    display: flex;
    flex-direction: row !important;
  }
  .patient-detail-cardbox-item1 .patient-detail-card-profile {
    width: 49%;
    margin-right: 20px;
  }
  .patient-detail-cardbox-item1,
  .patient-detail-cardbox-item2 {
    margin-bottom: 20px;
  }
  .patient-detail-cardbox-item1 > .patient-detail-card:nth-child(2) {
    margin-top: 0px;
    width: 50%;
  }
  .patient-detail-cardbox-item3 {
    width: 100% !important;
    display: grid !important;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .baseline-modal.ant-modal {
    width: 1000px !important;
  }
  /* .baseline-modal.ant-modal .ant-modal-body {
    max-height: 600px;
  } */
}

@media only screen and (max-width: 1439px) {
  .patient-profile-img-wrap img {
    width: 90px;
    height: 90px;
  }
  .patient-header-wrap .custom_btn {
    padding: 9px 15px;
    font-size: 10px;
  }
  .custom-accordion-wrapper .accordion-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .btn.transaparent-btn {
    font-size: 15px;
  }
  .consultation-wrap h6.small {
    font-size: 13px;
  }
  .patient-payments-details-item .number {
    font-size: 15px;
  }
  .documents-link-wrap a {
    font-size: 13px;
    /* padding-left: 20px; */
  }
  .documents-link-wrap a::before {
    width: 8px;
    height: 8px;
  }
  .visit-history-content-wrap li {
    font-size: 12px;
  }
  .amount-input-wrap .custom_btn,
  .opportunities-items .custom_btn {
    font-size: 9.663px;
    padding: 7px 10px;
  }
  .amount-input-wrap .form-control {
    font-size: 14px;
  }
  .avatar-img-wrap img {
    width: 40px;
    height: 40px;
  }
  .avatar-img-wrap {
    margin-right: 10px;
  }

  .patient-table-wrap.symptoms-table-wrap table {
    max-width: 530px;
    min-width: 530px;
  }
  .patient-table-wrap .ant-table-wrapper .ant-table-cell a,
  .documents-link-wrap ol li .text-wrap,
  .patient-table-wrap .ant-table-wrapper .ant-table-tbody > tr > td,
  .patient-table-wrap .ant-table-wrapper .ant-table-thead > tr > th,
  .documents-link-wrap > div {
    font-size: 15px;
  }
  .documents-link-wrap > div:not(:last-child) {
    margin-bottom: 14px;
  }
  .health-label-wrap {
    max-width: 200px;
    min-width: 200px;
  }
  .action-wrap .transparent-link {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 1365px) {
  .patient-profile-img-wrap img {
    width: 80px;
    height: 80px;
  }
  .opportunities-items h6.small {
    font-size: 14px;
  }
  .opportunities-items .p {
    font-size: 11px;
  }
  .patient-detail-cardbox-container-1,
  .patient-detail-cardbox-container-2 {
    grid-gap: 15px;
  }
  .patient-detail-cardbox-container-2 {
    margin-top: 15px;
  }
  .reason-visit-wrap,
  .opportunities-wrap {
    margin-top: 15px;
  }
  .custom-accordion-wrapper .accordion-button::before {
    left: -20px;
    width: 8px;
    height: 8px;
  }

  .patient-header-content-wrap {
    padding: 0 15px 0 15px;
  }
  .patient-header-content-wrap h6 {
    font-size: 10px;
  }
  /* .patient-table-wrap.documents-link-wrap table {
    max-width: 440px;
    min-width: 440px;
  } */
  .patient-table-wrap .ant-table-wrapper table {
    padding-bottom: 15px;
  }
  .intolerance-wrap h4 {
    margin: 15px 0;
  }
  .patient-detail-cardbox-item1 > .patient-detail-card:nth-child(2) {
    width: 49%;
  }
  .patient-header-wrap::before {
    left: -9%;
  }
  .baseline-modal.ant-modal .ant-modal-header .ant-modal-title {
    font-size: 21px;
  }
  .baseline-modal.ant-modal .ant-modal-header {
    padding: 16px 20px;
    border-radius: 12px 12px 0 0;
  }
  .baseline-modal.ant-modal .ant-modal-body {
    padding: 20px 20px 30px;
    /* max-height: 500px; */
  }
  .baseline-modal.ant-modal {
    width: 900px !important;
  }
  .ant-tabs-nav-operations .ant-tabs-nav-more img {
    width: 26px;
  }
}
@media only screen and (max-width: 1199px) {
  .patient-detail-cardbox-container-1 {
    grid-template-columns: 100%;
  }
  .patient-detail-cardbox-container-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .patient-header-wrap::before {
    left: -5%;
  } */

  .patient-header-wrap .custom_btn:not(:last-child) {
    margin-bottom: 15px;
  }
  .patient-detail-cardbox-item1 {
    flex-wrap: wrap;
  }
  .patient-detail-cardbox-item1 .patient-detail-card-profile {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .patient-detail-cardbox-item1 > .patient-detail-card:nth-child(2) {
    width: 100%;
  }
  .patient-table-wrap.symptoms-table-wrap table,
  .patient-table-wrap.documents-link-wrap table {
    max-width: 100%;
    min-width: 100%;
  }
  .patient-detail-cardbox-item2,
  .patient-detail-cardbox-item3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .ant-tabs-tabpane .patient-detail {
    margin-top: 0px;
  }
  .patient-detail .page-title {
    margin-bottom: 20px;
  }
  .documents-link-wrap {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .patient-detail .page-title {
    margin-bottom: 20px;
  }
  .custom-accordion-wrapper .accordion-button::after {
    font-size: 12px;
  }
  .custom-accordion-wrapper .accordion-button .label-wrap {
    font-size: 10px;
    padding: 2px 8px;
  }
  .custom-accordion-wrapper .accordion-button {
    font-size: 15px;
  }
  .patient-payments-details-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .documents-link-wrap {
    margin-top: 20px;
  }
  .patient-header-wrap::before {
    background: url("../../../assets/images/cover/ellipse1.png") no-repeat;
    width: 80px;
    height: 80px;
    left: -40px;
  }
  .patient-detail-card.patient-detail-summary-wrap::before {
    background: url("../../../assets/images/cover/half-circle1.png") no-repeat;
    width: 104px;
    height: 13px;
    bottom: 0;
    left: 40px;
  }
  .patient-detail-card.patient-detail-summary-wrap::after {
    background: url("../../../assets/images/cover/shape1.png") no-repeat;
    width: 106px;
    height: 95px;
    bottom: 0;
    right: 0;
  }
  .patient-table-wrap.symptoms-table-wrap table,
  .patient-table-wrap.documents-link-wrap table {
    max-width: 700px;
    min-width: 700px;
  }
  .baseline-form-gridbox {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .custom_btn.save-note {
    margin-top: 12px;
  }
  .patient-header-wrap .custom_btn:not(:last-child) {
    margin-bottom: 10px;
  }
  .visit-history-content-wrap {
    margin-right: 0px;
    padding: 10px;
  }

  .patient-detail .page-title {
    font-size: 26px;
  }
  .opportunities-wrap {
    margin-top: 25px;
  }
  .form-content-wrap {
    flex-wrap: wrap;
  }
  .baseline-form-gridbox .custom-label-wrap {
    width: auto;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  /* .patient-detail-card {
    height: auto;
  } */
  /* .patient-table-wrap.symptoms-table-wrap table {
    max-width: 700px;
    min-width: 700px;
  } */
  /* .patient-table-wrap
    .ant-table-wrapper
    .ant-table-tbody
    > tr
    > td:nth-child(2) {
    min-width: 100px;
  } */
}
@media only screen and (max-width: 575px) {
  .patient-left-description::after {
    display: none;
  }
  .patient-bottom-wrap > div {
    width: 100%;
  }
  .patient-right-description {
    padding-left: 0px;
    margin-top: 12px;
  }
  .patient-block-wrap:not(:last-child) {
    margin-bottom: 12px;
  }
  .custom-accordion-wrapper .accordion-item {
    padding-inline-start: 18px;
  }
  .custom-accordion-wrapper .accordion-button::before {
    left: -16px;
    width: 6px;
    height: 6px;
  }
  .custom-accordion-wrapper .accordion-button {
    font-size: 14px;
  }
  .btn.transaparent-btn {
    font-size: 14px;
  }
  .patient-header-wrap .custom_btn:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 10px;
  }
  .patient-header-content-wrap {
    padding: 0 0px 0 12px;
  }
  .patient-profile-img-wrap img {
    width: 80px;
    height: 80px;
  }
  .custom-accordion-wrapper .label-wrap {
    margin-left: 0px;
    font-size: 8px;
    font-weight: 500;
    line-height: 1.8;
    margin-top: 10px;
  }

  .patient-header-content-wrap {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .patient-profile-img-wrap img {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
  }
  .patient-header-content-wrap h3 {
    font-size: 24px;
  }
  .patient-header-content-wrap .p.small {
    font-size: 12px;
    margin-bottom: 20px !important;
  }
  .patient-header-content-wrap h6 {
    font-size: 16px;
  }
  .patient-summary-wrap:not(:last-child) {
    margin-right: 16px;
  }
  .patient-header-wrap .custom_btn {
    padding: 10px 25px;
    font-size: 16px;
  }
  .custom-input-wrap.grid-item {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
  .custom-input-wrap .ant-input {
    font-size: 14px;
    padding: 15px;
  }
  .custom-input-wrap .ant-select-single .ant-select-selection-item {
    padding: 12px 18px 12px 0;
    font-size: 14px;
  }
  .patient-table-wrap .ant-table-wrapper .ant-table-cell a,
  .documents-link-wrap ol li .text-wrap,
  .patient-table-wrap .ant-table-wrapper .ant-table-tbody > tr > td,
  .patient-table-wrap .ant-table-wrapper .ant-table-thead > tr > th,
  .documents-link-wrap > div {
    font-size: 14px;
  }
  .documents-link-wrap .h6 {
    font-size: 14px;
  }
  .patient-detail-card-profile h2 {
    font-size: 20px;
  }
  .health-label-wrap {
    max-width: 130px;
    min-width: 130px;
  }
  .patient-table-wrap.symptoms-table-wrap table {
    max-width: 500px;
    min-width: 500px;
  }
  .patient-table-wrap.documents-link-wrap table {
    min-width: 600px;
    max-width: 600px;
  }
  .baseline-form-gridbox .title-wrap {
    font-size: 16px;
  }
  /* .documents-title-wrap h4 {
    font-size: 16px;
  } */
  /* .patient-header-wrap::before {
    bottom: 130px;
  }
  
  .patient-bottom-wrap h6 {
    font-size: 16px;
  }
  .reason-visit-wrap h5 {
    font-size: 16px;
  }
  .reason-visit-wrap p {
    font-size: 12px;
    margin-top: 10px;
  }
  .patient-detail-cardbox-container-1 {
    grid-gap: 25px;
  }
  .btn.transaparent-btn img {
    width: 22%;
  }
  .patient-detail-card h4 {
    font-size: 18px;
  }
  .documents-link-wrap a {
    font-size: 16px;
    padding-left: 20px;
  }
  .documents-link-wrap a::before {
    width: 6px;
    height: 6px;
  }
  .consultation-wrap .icon-wrap {
    width: 30px;
    height: 30px;
    margin-right: 10px !important;
  }
  .consultation-wrap h6.small:nth-child(1) {
    font-size: 14px;
  }
  .consultation-wrap h6.small:nth-child(2) {
    font-size: 12px;
  }
  .patient-payments-details-item .number {
    font-size: 12px;
  }
  .patient-payments-details-item
    .custom-checkbox-wrap
    .ant-checkbox
    .ant-checkbox-inner {
    width: 17px;
    height: 17px;
  }
  .patient-payments-details-item
    .custom-checkbox-wrap
    .ant-checkbox
    .ant-checkbox-inner:after {
    width: 5px;
    height: 9px;
  }
  .amount-input-wrap .form-control {
    padding: 10px 100px 10px 10px;
    font-size: 14px;
    border-radius: 6px;
  }
  .amount-input-wrap .custom_btn {
    padding: 6px 11px;
    right: 8px;
    font-size: 10px;
  }
  .visit-history-content-wrap li::before {
    width: 14px;
    height: 14px;
  }
  .visit-history-content-wrap li {
    padding-inline-start: 18px;
  }
  .visit-history-content-wrap {
    padding: 20px;
  }
  .custom-accordion-wrapper .accordion-button::after {
    font-size: 10px;
  }
  .opportunities-items .p {
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    display: block;
  }
  .avatar-img-wrap img {
    width: 32px;
    height: 32px;
  }
  .opportunities-items .custom_btn {
    font-size: 8px;
    padding: 6px 10px;
  }
  .patient-header-wrap::before {
    bottom: 130px;
  } */
}
@media only screen and (max-width: 480px) {
  /* .custom-accordion-wrapper .accordion-body {
    font-size: 10px;
  }
  .visit-history-content-wrap p {
    font-size: 12px;
  }
  .visit-history-content-wrap p {
    line-height: 1.5;
  }
  .patient-bottom-wrap::after {
    right: -30px;
  }
  .opportunities-items-wrap {
    margin-top: 20px;
  } */
}

@media only screen and (max-width: 414px) {
  .patient-header-wrap::before {
    left: -17%;
  }
  .patient-bottom-wrap::after {
    width: 98px;
    height: 98px;
  }
  .patient-header-wrap .custom_btn {
    font-size: 12px;
  }
  .patient-header-icon-wrap img {
    width: 50%;
  }

  .btn.transaparent-btn img {
    width: 27%;
  }
  .avatar-img-wrap img {
    width: 35px;
    height: 35px;
  }
  /* .opportunities-items {
    flex-wrap: wrap;
  } */
  .opportunities-items .btn-wrap {
    margin-top: 10px;
  }
  .opportunities-items .p {
    font-size: 10px;
  }
  .opportunities-items h6.small {
    font-size: 13px;
  }
  .documents-link-wrap a:not(:last-child) {
    margin-bottom: 14px;
  }
  .custom-accordion-wrapper .accordion-button .label-wrap {
    font-size: 8px;
    padding: 2px 6px;
    margin-left: 5px;
  }
  .documents-link-wrap a {
    font-size: 14px;
    /* padding-left: 15px; */
  }
  .visit-history-content-wrap li {
    padding-inline-start: 23px;
    line-height: 1.4;
  }
  .patient-detail-card h4,
  .patient-detail-card .h4 {
    font-size: 16px;
  }
  /* .custom-accordion-wrapper .accordion-button {
    font-size: 13px;
  } */
  .patient-detail .page-title {
    font-size: 22px;
  }
  .patient-header-content-wrap h3 {
    font-size: 20px;
  }
  .btn.transaparent-btn {
    font-size: 12px;
  }
  .patient-bottom-wrap h6 {
    font-size: 14px;
  }
  .header-title {
    max-width: 140px;
  }
  .amount-input-wrap .custom_btn {
    padding: 6px 11px;
    font-size: 8px;
  }
  .baseline-form-gridbox .custom-label-wrap span {
    font-size: 13px;
  }
  .documents-link-items-wrap {
    flex-wrap: wrap;
  }
  .details-label-wrap {
    width: 100%;
    margin-bottom: 5px;
  }
  .baseline-modal.ant-modal .ant-modal-header .ant-modal-title {
    font-size: 18px;
  }
  .baseline-modal.ant-modal .ant-modal-body {
    padding: 20px 15px;
  }
  .baseline-modal.ant-modal .ant-modal-footer > .ant-btn + .ant-btn {
    font-size: 16px;
  }
  .ant-tabs-nav-operations .ant-tabs-nav-more img {
    width: 22px;
  }
}
@media only screen and (max-width: 350px) {
  .patient-detail-card-profile h2 {
    font-size: 18px;
  }
  .patient-profile-img-wrap img {
    width: 90px;
    height: 90px;
    margin-bottom: 12px;
  }
  .patient-header-content-wrap h3 {
    font-size: 18px;
  }
  .patient-header-content-wrap h6 {
    font-size: 14px;
  }
  .patient-header-wrap .custom_btn {
    padding: 8px 18px;
    font-size: 10px;
  }
  .patient-header-wrap {
    padding-bottom: 25px;
  }
  .patient-bottom-wrap {
    padding-top: 25px;
  }
  .patient-summary-wrap:not(:last-child) {
    margin-right: 8px;
  }
  .reason-visit-wrap p {
    font-size: 11px;
  }
  .patient-detail-card h4 {
    font-size: 14px;
  }
  /* .documents-link-wrap a {
    font-size: 11px;
    padding-left: 15px;
  } */
  .avatar-img-wrap {
    margin-right: 6px;
  }
  .opportunities-items .p {
    font-size: 9px;
  }
  .documents-link-wrap a {
    font-size: 12px;
    padding-left: 15px;
  }
  .amount-input-wrap .form-control {
    padding: 10px 90px 10px 10px;
    font-size: 10px;
  }
  .amount-input-wrap .custom_btn {
    padding: 6px 11px;
    font-size: 8px;
  }
  .avatar-img-wrap img {
    width: 30px;
    height: 30px;
  }
  .opportunities-items .custom_btn {
    font-size: 7px;
    padding: 5px 8px;
  }
  .patient-detail-card.patient-detail-summary-wrap::after {
    width: 85px;
    height: 85px;
  }
  .patient-detail-card.patient-detail-summary-wrap::before {
    left: 0;
  }
  .health-label-wrap {
    max-width: 120px;
    min-width: 100px;
  }
  .patient-header-wrap::before {
    left: -20%;
  }
}
