header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 34px 8px 9px;
  border-radius: 90px;
  background: #ececf8;
  margin-top: -10px;
}

.header-links-wrap .custom_btn {
  padding: 15px 26px;
  flex-shrink: 0;
  margin-right: 18px;
  margin-left: 14px;
}
.custom-dropdown .avatar-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  outline: 5px solid var(--white);
}
.custom-dropdown {
  color: #060030;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.56px;
}
.custom-dropdown span {
  padding: 0 13px;
}
.ant-dropdown .ant-dropdown-menu-item a {
  color: #3e3e46;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0px;
}
.ant-dropdown .ant-dropdown-menu-item img {
  margin-right: 10px;
  object-fit: contain;
}

/* .headarstyle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 11px 14px;
  border-radius: 90px;
  background: #ececf8;
} */
/* .containeralart {
  padding: 0px;
  background: #fff;
} */
.search_bar {
  position: relative;
}
.search_bar .form-control {
  height: 52px;
  max-width: 248px;
  border-radius: 26px;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 20px 0px 40px;
  background: #fff;
  outline: none;
  border: 0px;
  box-shadow: none;
}
.search_bar img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* .hedconttoggel button {
  background: transparent;
  border: 0px;
  outline: 0px;
  box-shadow: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #060030;
}
.hedconttoggel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hedconttoggel .logiconbox {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #fff;
  margin-right: 14px;
}
span.navicon {
  margin-right: 7px;
}
.headarstyle .nav__item a {
  padding: 0px 18px;
}
.headarstyle .nav__menu {
  gap: 0px;
}
.headarstyle .navflex {
  gap: 20px;
}
.headarstyle .nav__menu li + li {
  border-left: 1px solid #dbdbec;
}
.diflexmenu {
  display: flex;
  align-items: center;
} */
/* start 01.06.23 */

/* .navebg {
  background: #f5f5fd;
  flex: 0 0 92%;
  padding: 18px 30px 40px;
  border-radius: 46px 0px 0px 0px;
  margin-left: auto;
}
.nav.dashBnav {
  gap: 0px;
  padding: 0px;
  justify-content: unset;
  align-items: center;
}
.nav.dashBnav .navbar-brand {
  text-align: center;
  position: fixed;
  width: 87px;
  left: 15px;
} */

/* end 01.06.23 */

/* start 22.06.23 */
.nav__item.itemphon {
  display: none;
}
/* end 22.06.23 */

/* start 24.08.23 */
/* .dropdown-menu.profiledropdown {
  min-width: 272px;
  margin-top: 14px !important;
  border-radius: 10px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  border: 0px;
  padding: 5px 20px;
}
.dropdown-menu.profiledropdown .profilelink {
  display: flex;
  align-items: center;
}
.dropdown-menu.profiledropdown .profilelink.bdrbttom {
  border-bottom: 1px solid #0000002e;
}
.dropdown-menu.profiledropdown li {
  padding: 15px 0px;
}
.dropdown-menu.profiledropdown .profilelink .profilelinkimg {
  min-width: 49px;
  height: 49px;
  border-radius: 100%;
  margin-right: 12px;
}
.dropdown-menu.profiledropdown .profilelink .profilelinkimg img {
  width: 100%;
}
.dropdown-menu.profiledropdown .profilelink .profilelinkdetails h6 {
  color: #3e3e46;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0px;
}
.dropdown-menu.profiledropdown .profilelink .profilelinkdetails p {
  color: #8d8da3;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.profilelink .dropicon {
  min-width: 27px;
  width: 27px;
  margin-right: 10px;
}
.logiconimg {
  border-radius: 100%;
  border: 2px solid #fff;
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 12px;
} */
/* end 24.08.23 */

.logoutmodal_box .modal-dialog.modal-dialog-centered {
  max-width: 672px;
}
.modal-body-content-wrap {
  max-width: 71%;
  margin: 0 auto;
  text-align: center;
}
.logoutmodal_box .modal-footer {
  border-top: none;
  padding: 20px 10px 5rem;
  justify-content: center;
}
.logoutmodal_box .modal-footer.dashboard-btn-wrap button {
  min-width: 162px;
  height: 56px;
}
.logoutmodal_box .modal-header {
  border-bottom: none;
  padding: 15px;
}
.logoutmodal_box .worningimg {
  width: 140px;
  height: 140px;
  background: #eefff9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
}
.nav__toggler {
  z-index: 100;
  margin-right: 20px;
}

.nav__toggler .line {
  width: 25px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav__toggler .line:nth-child(2) {
  width: 18px;
  margin-right: auto;
}
html.show-menu .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
html.show-menu .line:nth-child(2) {
  opacity: 0;
}
html.show-menu .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}
header .profile-shortname {
  background: #fff;
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
}

.header-logo {
  position: relative;
  z-index: 9;
}
/* Responsive media query */
@media only screen and (max-width: 1439px) {
  .search_bar .form-control {
    height: 48px;
  }
}
@media only screen and (max-width: 991px) {
  .nav__menu {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 1);
    overflow-y: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 15px 20px;
    z-index: 99;
    -webkit-box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.2);
  }

  html.show-menu .nav__menu {
    transform: translateX(0%);
  }

  html.show-menu .nav__item.itemphon {
    display: block !important;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .sidebarbg {
    display: none;
  }

  html.show-menu .btn_warp {
    padding: 0px;
  }
  .diflexmenu {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
    background: #05c882;
    border-radius: 25px;
    padding: 30px;
    height: auto;
    /* height: 100%; */
    /* max-height: 800px;
    overflow-y: auto; */
  }
  .navicon {
    width: 35px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  header {
    background: #fff;
    margin: -15px;
    border-radius: 0px;
    width: auto;
    padding: 15px;
  }

  .search_bar {
    margin-right: 10px;
  }
  .search_bar .form-control {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    height: 52px;
    width: 52px;
    font-size: 0px;
    box-shadow: 0px 1px 3px 0px #7885b226;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background: url("../../assets/images/icons/srcicon.svg") no-repeat;
    background-position: center center;
    background-color: #fff;
  }
  .search_bar img {
    display: none;
  }
  .search_bar .form-control:hover,
  .search_bar .form-control:focus {
    width: 160px;
    font-size: 14px;
    padding: 0px 15px;
    background-position: 130px center;
  }
  header .profile-shortname {
    margin-right: 0px;
  }
  /* html.show-menu .nav__toggler {
    position: absolute;
    right: 0;
  } */
}

@media only screen and (max-width: 767px) {
  header .profile-shortname {
    width: 40px;
    height: 40px;
  }
  .search_bar .form-control {
    height: 40px;
    width: 40px;
  }
  .custom-dropdown span {
    font-size: 17px;
  }
  .header-logo {
    width: 46%;
  }
  .nav__menu {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 480px) {
}
