header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 34px 8px 9px;
  border-radius: 90px;
  background: #ececf8;
  margin-top: -10px;
}

.header-links-wrap .custom_btn {
  padding: 15px 26px;
  flex-shrink: 0;
  margin-right: 15px;
}
.custom-dropdown .avatar-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  outline: 5px solid var(--white);
}
.custom-dropdown {
  color: #060030;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.56px;
}
.custom-dropdown span {
  padding: 0 13px;
}
.ant-dropdown .ant-dropdown-menu-item a {
  color: #3e3e46;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0px;
}
.ant-dropdown .ant-dropdown-menu-item img {
  margin-right: 10px;
  object-fit: contain;
}

.search_bar {
  position: relative;
}
.search_bar .form-control {
  height: 52px;
  max-width: 248px;
  border-radius: 26px;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 20px 0px 40px;
  background: #fff;
  outline: none;
  border: 0px;
  box-shadow: none;
}
.search_bar img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.nav__item.itemphon {
  display: none;
}

.logoutmodal_box .modal-dialog.modal-dialog-centered {
  max-width: 672px;
  margin: 0 auto;
}
.modal-body-content-wrap {
  max-width: 71%;
  margin: 0 auto;
  text-align: center;
}
.logoutmodal_box .modal-footer {
  border-top: none;
  padding: 20px 10px 5rem;
  justify-content: center;
}
.logoutmodal_box .modal-footer.dashboard-btn-wrap button {
  min-width: 162px;
  height: auto;
  padding: 16px 4.5rem;
}
.logoutmodal_box .modal-header {
  border-bottom: none;
  padding: 15px;
}
.logoutmodal_box .modal-content {
  border-radius: 20px;
  outline: none;
  border: none;
}

.logoutmodal_box .worningimg {
  width: 14rem;
  height: 14rem;
  background: #eefff9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
}
.logoutmodal_box .worningimg img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.nav__toggler {
  z-index: 100;
  margin-right: 20px;
}

.nav__toggler .line {
  width: 25px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav__toggler .line:nth-child(2) {
  width: 18px;
  margin-right: auto;
}
html.show-menu .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
html.show-menu .line:nth-child(2) {
  opacity: 0;
}
html.show-menu .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}
header .profile-shortname {
  background: #fff;
  filter: drop-shadow(0px 15px 60px rgba(0, 0, 0, 0.1));
}

.header-logo {
  position: relative;
  z-index: 9;
}
/* Responsive media query */
@media only screen and (max-width: 1439px) {
  .search_bar .form-control {
    height: 48px;
  }
  .logoutmodal_box .modal-dialog.modal-dialog-centered {
    max-width: 520px;
  }
}
@media only screen and (max-width: 991px) {
  .nav__menu {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 1);
    overflow-y: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 15px 20px;
    z-index: 99;
    -webkit-box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.2);
  }

  html.show-menu .nav__menu {
    transform: translateX(0%);
  }

  html.show-menu .nav__item.itemphon {
    display: block !important;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .sidebarbg {
    display: none;
  }

  html.show-menu .btn_warp {
    padding: 0px;
  }
  .diflexmenu {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
    background: #05c882;
    border-radius: 25px;
    padding: 30px;
    height: 100%;
  }
  .navicon {
    width: 35px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  header {
    background: #fff;
    margin: -15px;
    border-radius: 0px;
    width: auto;
    padding: 15px;
  }

  .search_bar {
    margin-right: 10px;
  }
  .search_bar .form-control {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    height: 52px;
    width: 52px;
    font-size: 0px;
    box-shadow: 0px 1px 3px 0px #7885b226;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background: url("../../assets/images/icons/srcicon.svg") no-repeat;
    background-position: center center;
    background-color: #fff;
  }
  .search_bar img {
    display: none;
  }
  .search_bar .form-control:hover,
  .search_bar .form-control:focus {
    width: 160px;
    font-size: 14px;
    padding: 0px 15px;
    background-position: 130px center;
  }
  header .profile-shortname {
    margin-right: 0px;
  }
  
  .logoutmodal_box .worningimg {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
  }
  .logoutmodal_box .modal-header {
    padding: 20px 20px 0 20px;
  }
  .logoutmodal_box .modal-footer.dashboard-btn-wrap button {
    min-width: 140px;
    font-size: 16px;
    padding: 10px 4.5rem;
  }
}

@media only screen and (max-width: 767px) {
  header .profile-shortname {
    width: 40px;
    height: 40px;
  }
  .search_bar .form-control {
    height: 40px;
    width: 40px;
  }
  .custom-dropdown span {
    font-size: 17px;
  }
  .header-logo {
    width: 46%;
  }
  .nav__menu {
    width: 100%;
  }
  .logoutmodal_box .modal-dialog.modal-dialog-centered {
    max-width: 400px;
  }
  .deletext h1 {
    font-size: 22px;
  }
}


@media only screen and (max-width: 414px) {
  .logoutmodal_box .modal-dialog.modal-dialog-centered {
    max-width: 300px;
  }
  .logoutmodal_box .modal-footer.dashboard-btn-wrap button {
    min-width: 120px;
    font-size: 14px;
  }
  .deletext h1 {
    font-size: 18px;
  }
  .logoutmodal_box .modal-footer {
    padding: 15px 10px;
  }
}
