.authentication-wrapper {
  height: 100vh;
}
.authentication-header {
  padding: 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.authentication-header span {
  font-size: 14px;
}
.authentication-form {
  height: inherit;
}
.authentication-form-left {
  width: 69%;
  background: #fff url("../../assets/images/cover/authentication-bg.png")
    no-repeat;
  background-size: cover;
  padding: 14rem 20px 5rem;
  min-height: 953px;
}
.authentication-form-right {
  width: calc(100% - 69%);
  background: #fff url("../../assets/images/cover/authentication.jpg") no-repeat;
  background-size: cover;
}

.inputicon {
  position: absolute;
  top: 50%;
  right: 20px;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  color: var(--manatee);
}
.authentication-form-content-wrapper {
  max-width: 43.6%;
  margin: 0 auto;
}

.authentication-form .login_btn {
  padding: 18px 0;
  font-size: 18px;
  margin: 4rem 0;
  text-align: center;
}
.login-platform-link-wrap > a {
  background: var(--white);
  border: 1px solid var(--link-water);
  border-radius: 12px;
  padding: 18px;
  color: #414141;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-platform-link-wrap > a svg {
  color: #090f32;
  flex-shrink: 0;
  margin-right: 16px;
}
.login-platform-link-wrap > a:not(:last-child) {
  margin-bottom: 13px;
}

.authentication-title-wrap span {
  color: rgba(119, 117, 133, 0.85);
  line-height: 1.5;
}
.authentication-form .form-floating:not(:last-child) {
  margin-bottom: 15px;
}

.authentication-form .forgot-password-link {
  margin: 20px 0 0;
}
.authentication-form-right-content-wrap {
  padding: 30px 4.5rem;
}
.authentication-form-right-content-wrap p {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.5;
}
.badiconbox {
  background: #fff0f6;
  border: 1px solid #ef0064;
  border-radius: 6px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.badiconbox h6 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--rose);
}
.authentication-form .reset-form .login_btn {
  margin-bottom: 0;
  margin-top: 5rem;
}
.success-form .authentication-form-content-wrapper {
  max-width: 30%;
}
.verification-code-wrap {
  margin-bottom: 18px;
}
.verification-code-wrap .form-control {
  /* width: 70px; */
  height: 75px;
  color: #060030;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.verification-code-wrap .col {
  padding: 0 !important;
}
.verification-code-wrap .col:not(:last-child) {
  margin-right: 9px;
}

.factor-authentication-form .authentication-form-content-wrapper {
  max-width: 47%;
  margin: 0 auto;
}

.factor-authentication-form form {
  max-width: 93%;
}
.failed-authentication-form .login_btn,
.factor-authentication-form .login_btn {
  margin-top: 5rem;
  margin-bottom: 0;
}

.failed-authentication-form .authentication-form-content-wrapper {
  max-width: 40%;
}
.form-number-input a.link {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.form-number-input .inputicon {
  left: 25px;
}

.form-number-input.form-floating > .form-control {
  padding: 27px 70px 26px 54px;
}
.form-number-input.form-floating > label {
  padding-left: 60px;
}
.success-img {
  width: 12.5rem;
  height: 12.5rem;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  border: 1px solid;
} */

/* Responsive Design */
@media only screen and (max-width: 1799px) {
  .authentication-form-left {
    min-height: 880px;
  }
}

@media only screen and (max-width: 1599px) {
  .authentication-form-left {
    min-height: 700px;
  }
  .authentication-header {
    padding: 20px 20px;
  }
}

@media only screen and (max-width: 1365px) {
  .authentication-header .header-logo {
    max-width: 130px;
  }
  .authentication-header .custom_btn {
    font-size: 14px;
    padding: 8px 22px;
  }
}

@media only screen and (max-width: 1199px) {
  .authentication-form-left {
    width: 100%;
    margin-top: 30px;
  }
  .authentication-header {
    padding: 15px;
  }
  .authentication-title-wrap h1 {
    font-size: 34px;
  }
  .authentication-title-wrap .h5 {
    font-size: 16px;
  }
  .success-form .authentication-form-content-wrapper {
    max-width: 50%;
  }
  .verification-code-wrap .form-control {
    height: 60px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 991px) {
  .authentication-form-content-wrapper,
  .failed-authentication-form .authentication-form-content-wrapper,
  .factor-authentication-form .authentication-form-content-wrapper {
    max-width: 60%;
  }
  .authentication-header {
    background: #fff;
  }
}

@media only screen and (max-width: 767px) {
  .authentication-form-content-wrapper,
  .failed-authentication-form .authentication-form-content-wrapper,
  .factor-authentication-form .authentication-form-content-wrapper {
    max-width: 100%;
  }
  .authentication-form .login_btn {
    padding: 14px 0;
    font-size: 16px;
    margin: 37px 0 50px;
  }
  .authentication-form .forgot-password-link,
  .click-here-links-wrap span {
    font-size: 14px;
  }

  .authentication-header .custom_btn {
    font-size: 12px;
  }
  .success-form .authentication-form-content-wrapper {
    max-width: 100%;
  }
  .verification-code-wrap .col:not(:last-child) {
    margin-right: 4px;
  }
}

@media only screen and (max-width: 414px) {
  .authentication-title-wrap h1 {
    font-size: 25px;
  }
  .login-platform-link-wrap > a {
    padding: 16px;
    font-size: 14px;
  }
  .inputicon {
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .authentication-header .header-logo {
    max-width: 110px;
  }
  .verification-code-wrap .form-control {
    height: 50px;
    font-size: 24px;
  }
  .authentication-title-wrap .h5 {
    font-size: 14px;
  }
  .form-number-input.form-floating > label {
    padding-left: 47px;
  }
  .form-number-input .inputicon {
    left: 15px;
  }
}
@media only screen and (max-width: 350px) {
  .authentication-title-wrap h1 {
    font-size: 24px;
  }
}
