.reschedule-appointment .custom-steps-wizard .ant-steps {
  padding-top: 0;
  padding-left: 0;
}

.resapp-steps-wizard-items-wrap {
  width: 230px;
}

.resapp-steps-wizard-content-wrap {
  width: calc(100% - 230px);
  padding-left: 24.5rem;
}
.note-wrap {
  background-color: #eaeafa;
  border-radius: 12px;
  padding: 18px 20px;
  height: 74px;
}
.note-wrap .text-label {
  font-size: 13px;
  color: #626282;
}
.practice-details-form-step {
  border-bottom: 1px solid #d3e3f1;
  padding-bottom: 5rem;
}
.floatingTextarea .form-floating > label {
  height: auto;
  padding: 2rem 20px;
}
.resapp-steps-wizard-content-wrap .dashboard-btn-wrap {
  margin-top: 4rem;
}
.checkbox-wrap {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ecfff8;
  margin-right: 21px;
}
.practice-details-form-step .choose-date-time-select {
  border: none;
  padding: 0 25px 0 0;
  border-radius: 0px;
  outline: none;
  height: auto;
  background: url("../../../assets/images/icons/downarrow.svg") no-repeat;
  background-position: right 0px center;
  font-size: 20px;
  width: 150px;
  font-weight: 400;
}
.practice-details-form-step .choose-date-time-select:not(:last-child) {
  margin-right: 20px;
}
.choose-time-wrapper .text-title {
  font-size: 13px;
  margin-bottom: 15px;
}
.time-grid-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  max-height: 180px;
  overflow-y: auto;
}
.time-grid-item {
  border: 1px solid #05c882;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 0;
}
.time-grid-item.selectable {
  color: #05c882;
}

.time-grid-item.selected {
  background-color: #05c882;
  color: #fff;
}
.calander-slider .swiper-wrapper {
  padding-bottom: 20px;
}
/* .calander-slider .swiper-slide {
  width: auto !important;
} */
.date-time-card-slider {
  position: relative;
  width: 64px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #d3e3f1;
  background: #fff;
}
.date-time-card-slider::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0px 6px;
  border-color: #5d35e9 transparent transparent transparent;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  bottom: -8px;
  z-index: 1;
  opacity: 0;
}
.date-time-card-slider .week {
  font-size: 17px;
  color: #8d8da3;
  line-height: 141.176%;
  letter-spacing: -0.17px;
}
.date-time-card-slider .number {
  margin-bottom: 4px;
  color: #303036;
}
.calander-slider {
  margin-top: 30px;
}
.calander-slider .swiper-slide.swiper-slide-active .date-time-card-slider {
  border-radius: 12px;
  background: #5d35e9;
  box-shadow: 0px 2px 6px 0px rgba(120, 133, 178, 0.15);
}
.calander-slider
  .swiper-slide.swiper-slide-active
  .date-time-card-slider::before {
  opacity: 1;
}

.calander-slider .swiper-slide.swiper-slide-active .date-time-card-slider .week,
.calander-slider
  .swiper-slide.swiper-slide-active
  .date-time-card-slider
  .number {
  color: #fff;
}

.practice-details-form-step .swiper-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: none;
  border: 1px solid transparent;
  box-shadow: none;
  background-color: #e0e0ef;
  color: #8d8da3;
}
.practice-details-form-step .swiper-btn:hover,
.practice-details-form-step .swiper-btn:focus {
  border: 1px solid #05c882;
  color: #05c882;
  background: #fff;
}
.practice-details-form-step .swiper-button-prev {
  margin-right: 7px;
}
